<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
            <thead class="thead">
                <tr>
                    <a class = "przycisks" href="/admin/slownictwoAngielski">Powrót</a>  
                    <a class = "przycisks" href="/admin/slownictwoAngielski">Dodaj słówko</a>  
                </tr>
             </th>


            </thead>

           <tbody>       
                <tr>
                    <td class="col1">
                        <div class="text"><a>Słówka z działu: </a></div>
                        <form id="RegForm" name="RegForm" action="" method="POST">
                            <% for(var i=0; i< slownictwo.length; i++) {%>
                                <tr>
                                    <td class="col1">
                                        <p>Polski: <input type="text" class="dane" id="polski" size="5" name="polski" value="<%= slownictwo[i].polski%>" required/></p>
                                        
                                    </td>
        
                                    <td class="col1">
                                        <p>Angielski: <input type="text" class="dane" id="tlumaczenie" size="5" value="<%= slownictwo[i].tlumaczenie%>" name="tlumaczenie" required/></p>
                                    </td>
                                    <td class="col1">
                                        <a class = "przycisks" href="">Usuń</a>  
                                    </td>
                                    <div class="text"><a>  </a></div>
                                    </td>
                                </tr>
                            <% } %>
                        </form>


                    </td>
                    
                </tr>
                <tr>

                       
                    
            </tr>
            </div>
            

            </tbody>
        </table>
</div>
        
  

</body>
</html>