<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/admin/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
            <a class = "przycisks" href="/admin/uzytkownicy">Lista Użytkowników</a>
            <a class = "przycisks" href="/admin/zmianahaslaadmin">Zmiana hasła admina</a>
            <a class = "przycisks" href="/admin/dodajslownictwoangielski">Dodaj słownictwo angielski</a>
            <a class = "przycisks" href="/admin/dodajslownictwoniemiecki">Dodaj słownictwo niemiecki</a>
            <a class = "przycisks" href="/admin/skasujslownictwoangielskidzial">Skasuj słownictwo angielski</a>
            <a class = "przycisks" href="/admin/skasujslownictwoniemieckidzial">Skasuj słownictwo niemiecki</a>
            <a class = "przycisks" href="/admin/dodajpytanieangielski">Dodaj pytanie angielski</a>
            <a class = "przycisks" href="/admin/dodajpytanieniemiecki">Dodaj pytanie niemeicki</a>
            <a class = "przycisks" href="/admin/dodajtestangielski">Dodaj test angielski</a>
            <a class = "przycisks" href="/admin/dodajtestniemiecki">Dodaj test niemiecki</a>

                    
        </table>
</div>
        
  

</body>
</html>