<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a><img src="/img/logo.png" style="cursor: context-menu;" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka" style="width: 1000px;">

            <a>Witaj w panelu administratora<br><br></a>

        <table class="table">
            
                    <a class = "przycisks" href="/admin/uzytkownicy">Lista Użytkowników</a>
                    <a class = "przycisks" href="/admin/zmianahaslaadmin">Zmiana hasła admina</a><br>
                    <br style="text-align: center;">Wybierz język<br>

                    <div class="lAng" style="width: 400px; margin: 0 auto; float: left;">

                        <button class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Angielski</button><br>

                        <div class="listHolder" style="display:none;" >

                            <div class="angl">
                                <a href="/admin/slownictwoAngielski"><button  class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Słownictwo</button></a><br>
                                
                                <a href="/admin/gramatykaAngielski"><button class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Gramatyka</button></a><br>
                                
                                <a href="/admin/testAngielski"><button href="" class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Testy</button></a><br>

                            </div> 
                        </div>
                    </div>


                    <div class="pNiem" style="width: 400px; float: right; margin: 0 auto;">

                    <button class="przycisks" id="pNiem" style="width: 200px; height: 40px; cursor: pointer;">Niemiecki</button><br><br>

                    <div class="listHolder1" style="display:none;">
                    <div class="niem">

                        <button href="" class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Słownictwo</button><br>
                                
                        <button href="" class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Gramatyka</button><br>
                        
                        <button href="" class="przycisks" id="pAng" style="width: 200px; height: 40px; cursor: pointer;">Testy</button><br>

                    
                    <br><br> 
    </table>
</div>

<script>

let btn = document.querySelector("#pAng");
let div = document.querySelector(".listHolder");
btn.addEventListener("click", () => {
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
});

let btn1 = document.querySelector("#pNiem");
let div2 = document.querySelector(".listHolder1");
btn1.addEventListener("click", () => {
  if (div2.style.display === "none") {
    div2.style.display = "block";
  } else {
    div2.style.display = "none";
  }
});

</script>
  

</body>
</html>