<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a><img style="cursor: context-menu;" src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
            <thead class="thead">
                <a class = "przycisks" href="javascript:history.back()">Powrót</a>     
            </thead>

           <tbody>
                <tr>
                        <div style="margin-left: 50px; margin-top: 30px;"><a> Podaj nowe haslo</a></div>
                    <td class="col1">
                        <div class="text"><a> </a></div>
                        <form id="RegForm" name="RegForm" action="zmianahaslaadmin" method="POST">
                            <p>Obecne haslo: <input type="password" class="dane" id="obecne" size="65" name="obecne" required/></p>
                            <br />
                            <p>Haslo: <input type="password" class="dane" id="haslo" size="65" name="haslo" required/></p>
                            <br />
                            <p>Potwierdź hasło: <input type="password" class="dane" id="haslo2" size="65" name="haslo2" required/></p>
                            <div class="przyciskForm">            
                                <input style="cursor: pointer;" type="submit" value="Zmień hasło" name="Submit" />
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <% if(typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                        <li><%= error.message %></li>
                        <% }) %>
                    <% } %>
            </tr>
            </div>
            
            </tbody>
        </table>
</div>
        
</body>
</html>