<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">
            <li>Wybierz dział</li>
                <% for(var i=0;i< material.length; i++) { %>
                    <a class = "przycisks" href="/Uzytkownik/angielski/slownictwo/materialAngielski/slowkaAngielski?id=<%= material[i].id%>"><%= material[i].nazwa_materialu%></a>
                <% } %>
        </div>
    </div>
    <a></a>

</body>
</html>


