<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkowni/stronaGlowna"><img src="/img/logo.png" class="logo" href="" /></a>
            <nav>
                <ul>
                    <li class="przyciskL"><a href="/Uzytkownik/gramatyka">Gramatyka</a></li>
                    <li class="przyciskL"><a href="/Uzytkownik/slownictwo">Słownictwo</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <article>
            <h1>Gramatyka angielska</h1>
            <h3>Sposoby wyrażania teraźniejszości w języku angielskim</h3>
            <p>Mówiąc o teraźniejszości używamy następujących form:</p>

                <ul>
                    <li>Present Simple,</li>
                    <li>Present Continuous,</li>
                    <li>Present Perfect,</li>
                    <li>Present Perfect Continuous.</li>
                </ul>

            <p><strong>Present Simple</strong> (I forma / I forma + ...s)</p>
            <p><span>I <i>live</i> in Karpacz. My name <i>is</i> Robert.</span></p>
            <p><span>Every morning I <i>listen</i> to the radio.</span></p>
            <p><span>London <i>is</i> the capital of great Britain.</span></p>
            <p><span>I <i>like</i> summer and sunshine.</span></p>

            <ul>
                <li>trwałe sytuacje (np. Mieszkam w Karpaczu. Mam na imię Robert.),</li>
                <li>zdarzenia cykliczne (np. Codziennie rano słucham radia.),</li>
                <li>fakty naukowe (np. Londyn jest stolicą Wielkiej Brytanii.),</li>
                <li>poglądy i przekonania (np. Lubię lato i słońce.).</li>
            </ul>

            <p><strong>Present Continuous</strong> (am / are / is + ...ing)</p>
            <p><span>I<i>'m reading</i> a newspaper now.</span></p>
            <p><span>He<i>'s working</i> a lot these days.</span></p>
            <p><span>Your English <i>is improving</i>.</span></p>

            <ul>
                <li>czynności wykonywane w danym momencie (np. Teraz czytam gazetę.),</li>
                <li>sytuacje tymczasowe (np. On dużo pracuje w tych dniach.),</li>
                <li>sytuacje zmieniające się (np. Twój angielski się polepsza.).</li>
            </ul>

            <p><strong>Present Perfect</strong> (have / has + III forma / ...ed)</p>
            <p><span>Marta <i>has lived</i> in Wrocław since the beginning of her studies.</span></p>

            <ul>
                <li>sytuacje, które trwają od pewnego momentu w przeszłości do teraz (np. Marta mieszka we Wrocławiu od początku studiów.).</li>
            </ul>

                <p><strong>Present Perfect Continuous</strong> (have / has been + ...ing)</p>
                <p><span>It <i>has been raining</i> since morning.</span></p>

            <ul>
                <li>sytuacje, które trwają od pewnego momentu w przeszłości do teraz (np. Od rana pada deszcz.).</li>
            </ul>

            <h3>Sposoby wyrażania przeszłości w języku angielskim</h3>
            <p>Mówiąc o przeszłości używamy następujących form:</p>

            <ul>
                <li>Past Simple,</li>
                <li>Past Continuous,</li>
                <li>Present Perfect,</li>
                <li>Present Perfect Continuous,</li>
                <li>Past Perfect,</li>
                <li>Past Perfect Continuous,</li>
                <li>Used to / would.</li>
            </ul>
            
            <p><strong>Past Simple</strong> (II forma / ...ed)</p>
            <p><span>Our English course <i>started</i> last month.</span></p>

            <ul
                li>sytuacje i zdarzenia mające miejsce w przeszłości, definitywnie zakończone (np. Nasz kurs angielskiego rozpoczął się w zeszłym miesiącu.).</li>
            </ul>
            
            <p><strong>Past Continuous</strong> (was / were + ...ing)</p>
            <p><span>Yesterday at 6 we <i>were watching</i> a programme about learning English.</span></p>
            <p><span>I <i>was doing</i> an English exercise when my mobile phone <i>rang</i>.</span></p>
            <p><span>It was a beautiful day, the sun <i>was shining</i>...</span></p>
            
            <ul>
                <li>czynności i sytuacje trwające w danym momencie w przeszłości (np. Wczoraj o 6 oglądaliśmy program o nauce angielskiego.),</li>
                <li>łącznie z czasem Past Simple, gdy chcemy zaznaczyć, że jedno zdarzenie miało miejsce podczas trwania czegoś innego (np. Robiłem ćwiczenie z angielskiego, gdy zadzwonił mój telefon komórkowy.),</li>
                <li>w narracji, gdy opisujemy tło dla głównych wydarzeń (np. Był ładny dzień, słońce świeciło,...).</li>
             </ul>

            <p><strong>Present Perfect</strong> (have / has + III forma / ...ed)</p>
            <p><span>I<i>'ve lost</i> my keys; now I can't get into my house.</span></p>
            <p><span>Ania isn't at home because she<i>'s just gone</i> to her English class.</span></p>
            <p><span>I'm not hungry because I<i>'ve already had</i> dinner.</span></p>
            <p><span>The English course <i>hasn't started yet.</i></span></p>
            <p><span>Tomek <i>has never had</i> a car accident.</span></p>

            <ul>
                <li>sytuacje zaistniałe w przeszłości, kiedy ważniejsze jest samo zdarzenie i jego skutek, niż to, kiedy ono miało miejsce (np. Zgubiłem klucze; teraz nie mogę się dostać do domu.),</li>
                <li>sytuacje zaistniałe w niedalekiej przeszłości (np. Ani nie ma w domu, ponieważ właśnie poszła na zajęcia z angielskiego.),</li>
                <li>sytuacje, które już miały miejsce (np. Nie jestem głodny, ponieważ już jadłem obiad.),</li>
                <li>sytuacje, które jeszcze nie miały miejsca (np. Kurs angielskiego jeszcze się nie zaczął.),</li>
                <li>sytuacje, które nigdy nie miały miejsca (np. Tomek nigdy nie miał wypadku samochodowego.).</li>
            </ul>
            
            <p><strong>Present Perfect Continuous</strong> (have / has been + ...ing)</p>
            <p><span>I'm tired because I<i>'ve been swimming</i> for an hour.</span></p>   
            
            <ul>
                <li>czynności i sytuacje, które trwały przez pewien czas, właśnie się zakończyły i widzimy ich skutek (np. Jestem zmęczony, bo pływałem przez godzinę.).</li>
            </ul>

            <p><strong>Past Perfect</strong> (had + III forma / ...ed)</p>
            <p><span>I <i>couldn't</i> get into my house yesterday because <i>I had lost</i> my keys.</span></p>
            <p><span>Ania <i>wasn't</i> at home because <i>she'd just gone</i> to her English class.</span></p>
            <p><span>I<i> wasn't</i> hungry because <i>I'd already had</i> dinner.</span></p>

            <ul>
                <li>analogicznie do czasu Present Perfect, gdy mówimy o sytuacjach zaistniałych przed innym wydarzeniem w przeszłości, będącym naszym punktem odniesienia (np. Nie mogłem dostać się do domu wczoraj, ponieważ zgubiłem klucze.).</li>
            </ul>
            
            <p><strong>Past Perfect Continuous</strong> (had been + ...ing)</p>
            <p><span>I <i>was</i> tired because I <i>had been working</i> all day.</span></p>
            
            <ul>
                <li>analogicznie do czasu Present Perfec continuous, gdy mówimy o sytuacjach mających miejsce przed innym wydarzeniem w przeszłości, będącym naszym punktem odniesienia, przy czym nacisk kładziemy na to, jak długo dana sytuacja trwała (np. Byłem zmęczony, ponieważ pracowałem przez cały dzień.).</li>
            </ul>
            
            <p><strong>Used to / would</strong></p>
            <p><span>My grandfather <i>used to / would smoke</i> a lot when he was young, but now he doesn't smoke at all.</span></p>
            <p><span>There <i>used to be</i> a football stadium; now there's a supermarket.</span></p>
            
            <ul>
                <li>czynności wykonywane regularnie w przeszłości, będące czyimś zwyczajem (np. Mój dziadek dużo palił, kiedy był młody; ale teraz nie pali wcale.),</li>
                <li>sytuacje mające miejsce w definitywnie zamkniętej przeszłości (np. Kiedyś był tu stadion piłkarski; teraz jest supermarket.).</li>
            </ul>
            
            <h3>Sposoby wyrażania przyszłości w języku angielskim</h3>
            <p>Mówiąc o przyszłości używamy następujących form:</p>
            
            <ul>
                <li>Future Simple,</li>
                <li>Future Continuous,</li>
                <li>Future Perfect,</li>
                <li>Future Perfect Continuous,</li>
                <li>Going to,</li>
                <li>Present Simple,</li>
                <li>Present Continuous.</li>
            </ul>
            
            <p><strong>Future Simple</strong> (will + base form)</p>
            <p><span>A: It's very hot ih here. B: OK, <i>I'll open</i> the window.</span></p>
            <p><span>I think Kasia <i>will pass</i> her English exam; she's a good student.</span></p>
            <p><span>I promise <i>I'll call</i> you as soon as I arrive.</span></p>
            <p><span><i>I won't speak</i> to you if you do it once again.</span></p>
            <p><span>Your bag is heavy; <i>I'll help</i> you.</span></p>
            <p><span><i>Will you help</i> me do my English homework?</span></p>
            
            <ul>
                <li>spontanicznie podjęta decyzja (np. A: Strasznie tu gorąco. B: OK, otworzę okno.),</li>
                <li>przypuszczenie (np. Sądzę, że Kasia dostanie dobrą ocenę z angielskiego; dobrze się uczy.),</li>
                <li>obietnica (np. Obiecuję, że zadzwonię do ciebie, jak tylko przyjadę.),</li>
                <li>groźba (np. Nie będę z tobą rozmawiać, jeśli jeszcze raz to zrobisz.),</li>
                <li>propozycja (np. Masz ciężką torbę; pomogę ci.),</li>
                <li>prośba (Pomożesz mi zrobić zadanie z angielskiego?).</li>
            </ul>
            
            <p><strong>Future Continuous</strong> (will be + ...ing)</p>
            <p><span>Tomorrow at 9 <i>we'll be writing</i> our FCE exam.</span></p>
            <p><span><i>I'll be going</i> to town in the afternoon. Do you want anything?</span></p>
            
            <ul>
                <li>czynności i sytuacje, które będą trwały w danym momencie w przyszłości(np. Jutro o godz. 9 będziemy pisali egzamin FCE.).</li>
                <li>czynności zaplanowane (np. Po południu będę jechać do miasta. Chcesz coś?).</li>
            </ul>
            
            <p><strong>Future Perfect</strong> (will have + ...ed)</p>
            <p><span><i>I will have finished</i> my English asignment by tomorrow evening.</span></p>
            
            <ul>
                <li>czynności i sytuace, które zakończą się przed danym momentem w przyszłości (np. Do jutra wieczorem skończę pisać moje zadanie z angielskiego.).</li>
            </ul>
            
            <p><strong>Future Perfect Continuous</strong> (will have been + ...ing)</p>
            <p><span>In June <i>I will have been learning</i> English for three years.</span></p>
            
            <ul>
                <li>czynności i sytuacje, które będą trwały do danego momentu w przyszłości (np. W czerwcu miną trzy lata, jak uczę się angielskiego.).</li>
            </ul>
            
            <p><strong>Going to</strong></p>
            <p><span><i>I'm going to buy</i> a new car.</span></p>
            <p><span><i>It's going to rain</i>; look at those black clouds.</span></p>
            
            <ul>
                <li>intencje, zamiary (np. Mam zamiar kupić nowy samochód.),</li>
                <li>przypuszczenia wynikające z zewnętrznych przesłanek (np. Będzie padać; popatrz na te czarne chmury.).</li>
            </ul>
            
            <p><strong>Present Simple</strong></p>
            <p><span>the train <i>leaves</i> at 8:20.</span></p>
            
            <ul>
                <li>sytuacje wynikające z ustalonego wcześniej programu, rozkładu (np. Pociąg odjeżdża o godzinie 8:20.).</li>
            </ul>
            
            <p><strong>Present Continuous</strong></p>
            <p><span><i>I'm starting</i> my english course tomorrow.</span></p>
            
            <ul>
                <li>zaplanowana przyszłość (np. Jutro zaczynam kurs angielskiego.).</li>
            </ul>
            
            </article>
        </div>
    </div>
</form>
</body>
</html>

