<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a><img src="/img/logo.png" style="cursor: context-menu;" class="logo" href=""/></a>
            <nav>
                <ul>
                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
           <tbody>
            <a class = "przycisks" href="/admin/testNiemiecki">Powrót</a> 
            <td class="col1">
                <div class="text"><a> Dodaj test z języka Niemieckiego</a></div>
            </td>
                <tr>
                    

                    <td class="col1">
                        <div class="text"><a> </a></div>
                        <form id="RegForm" name="RegForm" action="" method="POST">
                            <p>Nazwa testu: <input type="text" class="dane" id="polski" size="65" name="nazwa" required/></p>
                            <br />
                            <p>Wybierz test: 
                                <select class="dane" name="typtest" id="typtest">
                                    <option style="color:black;" value="łatwy">Łatwy</option>
                                    <option style="color:black;" value="średni">Średni</option>
                                    <option style="color:black;" value="Trudny">Trudny</option>
                                </select>
                            </p>
                            <div class="przyciskForm">            
                                <input style="cursor: pointer;" type="submit" value="Dodaj" name="Submit" />
                            </div>
                            
                        </form>
                        <ul>
                            <% if(typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                                <li><%= error.message %></li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>    
            </tr>
            </div>
            </tbody>
        </table>
</div>
        
  

</body>
</html>