<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/slownictwo">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">
            Wybierz dział:
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/wszystkie">Połączone działy</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/zwierzeta">Zwierzęta</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/dom">Dom</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/praca">Praca</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/zdrowie">Zdrowie</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/czlowiek">Człowiek</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/jedzenieizywienie">Jedzenie i żywienie</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/podrozeiwakacje">Podróże i wakacje</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/edukacjaiszkola">Edukacja i szkoła</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/rosliny">Rośliny</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/rodzina">Rodzina</a>
            <a class = "przycisks" href="/uzytkownik/niemiecki/quizy/quizyniemiecki/sport">Sport</a>

            </table>
        </div>
    </div>
    <a></a>
</form>
</body>
</html>


