<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Document</title>
    
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/public/img/logo.png" class="logo" />
            <nav>
                <ul>
                    <li class="przyciskL"><a href="">Gramatyka</a></li>
                    <li class="przyciskL"><a href="">Słownictwo</a></li>
                    <li class="przyciskP"><a href="Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>            
        </div>
        
        <div class="row">
            <div class="col">
                <h1>Ucz się szybko <br /> i zapamiętaj na zawsze.</h1>
                <p>Wybierz język którego chcesz się uczyć.</p>
                <button type="button">Załóż darmowe konto</button>
            </div>
            <div class="col">
                <a href="http://localhost:3000">
                <div class="card1">
                    <h5>Język niemiecki</h5>
                    <p>Wypróbuj kurs online i ucz się niemieckiego z przyjemnością.</p>
                </div></a>
                <a href="http://localhost:3000">
                <div class="card2">
                    <h5>Język angielski</h5>
                    <p>Wypróbuj kurs online i ucz się angielskiego z przyjemnością.</p>
                </div></a>
            </div>
        </div>
    </div>
    <a></a>


</body>
</html>