<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="StyleSheet1.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000"><img src="img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    <li class="przyciskL"><a href="http://localhost:3000/gramatyka.html">Gramatyka</a></li>
                    <li class="przyciskL"><a href="http://localhost:3000/slownictwo.html">Słownictwo</a></li>
                    <li class="przyciskP"><a href="http://localhost:3000/logowanie">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="http://localhost:3000/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="tabela">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th class="col1" colspan="1">
                            <b>Po angielsku</b>
                            <span title="English" style="background-image: url('https://static.fiszkoteka.pl/imgmrg/P/g/o/HISi51swR0_MKo-Bv.png');background-position:-32px -0px;width:32px;height:22px;vertical-align: middle;overflow:hidden;display:inline-block;"></span>
                        </th>
                        <th class="col1" colspan="1">
                            <b>Po polsku</b>
                            <span title="język polski" style="background-image: url('https://static.fiszkoteka.pl/imgmrg/P/g/o/HISi51swR0_MKo-Bv.png');background-position:-0px -0px;width:32px;height:22px;vertical-align: middle;overflow:hidden;display:inline-block;"></span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> name </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> nazwa, nazwisko </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> very  </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> bardzo </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> to  </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> do, ku, na, po, za, dla, przy, aby, żeby </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> through   </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> przez </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> and   </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> i </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> just    </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> tylko, właśnie </a></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a></a>


</body>
</html>


