<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a href="/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br><br><br>

            Język niemiecki posiada prostą składnię gramatyczną. Dowodem na to są czasy niemieckie, które niekiedy ograniczają się do wstawienia jednego dodatkowego czasownika i podania drugiego w bezokoliczniku na końcu zdania. Przykładem takiego prostego czasu jest czas przyszły niemiecki – Futur I.

            
        </div>
    </div>
</form>
</body>
</html>

