<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br>

            <h1>Czas przeszły Perfekt</h1>

            <p>Czas przeszły Perfekt jest zaprzeczeniem Präteritum. Używamy go w przypadku kiedy wykonana, zakończona przez nas czynność wpływa na nasze życie. Jest to czas dokonany. Na przykład – Jestem na wakacjach. Kupiłem wycieczkę dwa tygodnie temu. Już widzimy, że drugie zdanie będzie w czasie Perfekt. Widać tutaj ewidentny skutek. Kupiłem wakacje i na nich jestem.</p>

            <h2>Konstrukcja</h2>
            <p>Tworzymy go poprzez czasownik posiłkowy haben, lub sein odpowiednio odmieniony oraz forma Partizip II.</p>
            
            <div class="budowa">
                <p>sein/haben + … + Partizip II</p>
            </div>
            
            <p>Czasownik haben oraz sein odmienia się w czasie teraźniejszym. Czasownik Partizip II znajduje się zawsze na końcu zdania i jest nieodmienny !</p>
            <p>Ich bin krank <strong>gewesen</strong>. – Byłam chora.<br>
                Ich habe es nicht <strong>gewollt</strong>. – Nie chiałam tego.<br>
                Ich habe heute lange <strong>gearbeitet</strong>. – Dzisiaj długo pracowałem.<br>
                Ania hat neue Schuhe <strong>gekauft</strong>. – Ania kupiła nowe buty.<br>
                Ich habe deinen Bruder <strong>gesehen</strong>. – Widziałem twojego brata.</p>

                <h2>Kiedy sein, a kiedy haben?</h2>
                <p>Haben używamy gdy czasownik:</p>
                <ul>
                    <li>wymaga dopełnienia w bierniku;</li>
                    <li>jest zwrotny</li>
                    <li>jest modalny</li>
                    <li>jest czasownikiem wyrażającym stan, lub trwanie czynności, które tym samym nie wyraża ruchu (np. leżał).</li>
                </ul>
                <br><p>Sein używamy gdy czasownik</p>
                <ul>
                    <li>nie wymaga dopełnienia w bierniku;</li>
                    <li>określa zmiane stanu;</li>
                    <li>zawsze przy werden, bleiben.</li>
                </ul><br>

                <p>Jak widać jest tutaj sporo teorii, którą musicie znać i wiedzieć, czym są na przykład czasowniki modalne zanim przejdziecie do nauki. Jeśli dalej tego nie zrobiliście to w tym momencie jest najwyższy czas.</p><br>
                <p>Podsumowując haben używamy do czegoś co określa stan, a sein do aktywności, które określają ruch.</p>

                <h2>Odmiana czasowników regularnych</h2>
                
                <p>Formę Partizip Perfect tworzymy poprzez dodanie do czasownika przedrostka -ge i końcówki -t.</p><br>
                <p>Dla przykładu</p>

                <table class="t-table">
                    <tbody>
                    <tr>
                    <td>Infinitiv</td>
                    <td>Partizip II</td>
                    </tr>
                    <tr>
                    <td>machen (robić)<br> kaufen (kupować)<br>lernen (uczyć)</td>
                    <td>gemacht<br>gekauft<br>gelernt</td>
                    </tr>
                    </tbody>
                    </table>

                <p>Wyjątek – jeśli czasownik kończy się na -t,-d,-tm,-chn, -ffn, dodajemy końcówkę -et</p>

                    <h2>Czasowniki nieregularne</h2>
                    <p>W większości przypadków, czasowniki odmieniają się w sposób nieregularny. W tym przypadku musimy się ich nauczyć na pamięć.<br><br> Dla przykładu</p>

                 <table class="t-table">
                    <tbody>
                    <tr>
                    <td>Infinitiv</td>
                    <td>Partizip II</td>
                    </tr>
                    <tr>
                    <td>gehen (iść)<br>leiden (cierpieć)<br>sein (być)<br>treffen (spotkać)</td>
                    <td>gegangen<br>gelitten<br>gewesen<br>getroffen</td>
                    </tr>
                    </tbody>
                    </table>

                    <h2>Przykłady</h2>
                    <p>Haben Sie schon die heutige Zeitung gelesen? – Czy przeczytał Pan już dzisiejszą gazetę?<br>
                        Haben Sie mich gehört? – Słyszał mnie Pan?<br>
                        Warum habt ihr die Hausaufgabe nicht gemacht? – Dlaczego nie zrobiliście pracy domowej?<br>
                        Wir haben uns nicht verspätet. – Nie spóźniliśmy się.<br>
                        Ich bin heute um 7 Uhr aufgestanden. – Dzisiaj wstałam o siódmej.</p>

                    
        </div>
    </div>
</form>
</body>
</html>

