<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br>

            <h1>Czas przyszły Futur II</h1>
            <p>Czasu Futur II używamy w celu wyrażenia przekonania, że dana czynność zostanie wykonana w przyszłości. Futur II jest stosowany przede wszystkim w książkach.
Może wyrażać również przypuszczenie odnoszące się do przeszłości.</p>

            <h2>Konstrukcja</h2>
            <p><strong>podmiot + werden + reszta zdania + Infinitiv II Aktiv</strong> (Partizip II + haben / sein)</p>
            <ul>
                <li>Bis Freitag werde ich das gemacht haben. – Do piątku będę mieć to zrobione.</li>
                <li>Bis Freitag werde ich das Fahrrad bestimmt gekauft haben. – Do piątku na pewno kupię ten rower.</li>
            </ul>

            <h2>Odmiana werden</h2>

            <table class="t-table">
                <tbody>
                <tr>
                <td>Liczba pojedyncza (Singular):</td>
                <td>Liczba mnoga (Plural):</td>
                </tr>
                <tr>
                <td>ich werde<br>du wirst<br>er wird<br>sie wird<br>es wird</td>
                <td>wir werden<br>ihr werdet<br>sie werden<br>Sie werden</td>
                </tr>
                </tbody>
            </table>

            <h2>Partizip II</h2>
            <p>Formę Partizip tworzymy poprzez dodanie do czasownika przedrostka -ge i końcówki -t. Wyjątek – jeśli czasownik kończy się na -t,-d,-tm,-chn, -ffn, dodajemy końcówkę -et. Istnieją również odmiany nieregularne.</p>

            <h2>Kiedy sein, a kiedy haben?</h2>
            <p>Haben używamy do określania stanu, a sein do aktywności, które określają bezpośrednio ruch.</p>
            <p>+</p>
            <p>Haben kiedy czasownik:</p>
            <ul>
                <li>wymaga dopełnienia w bierniku;</li>
                <li>jest zwrotny, lub modalny</li>
            </ul>
            <p>Sein używamy kiedy czasownik</p>
            <ul>
                <li>nie wymaga dopełnienia w bierniku;</li>
                <li>zawsze przy werden, bleiben (Sie werden in zwei Stunden angekommen <strong>sein</strong> – Oni przybędą (będą) za dwie godziny)</li>
            </ul>
            <h2>Przykłady</h2>
            <p>Sie wird die Prüfung bestimmt bestanden haben. – Ona z pewnością zda egzamin<br>
                Sie werden wohl in die Stadt gegangen sein. – Oni na pewno poszli do/na miasta.<br>
                Bis Freitag werde ich das gemacht haben. – Do piątku będę mieć to zrobione.<br>
                Er wird schon nach Deutschland gefahren sein. – On pojechał już chyba do Niemiec.<br>
                Sie wird wohl eingeschlafen sein. – Ona już chyba zasnęła.<br>
                Er wird wohl ins Restaurant gegangen sein. – On już chyba poszedł do restauracji.<br>
                Er wird den Bus bestimmt nicht erreicht haben. – On z pewnością nie zdąży na autobus.</p>
        </div>
    </div>
</form>
</body>
</html>

