<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a class = "przycisks" href="/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br>
            
            <h1>Czas przeszły prosty</h1>

            <p>W języku niemieckim mamy dwa czasy przeszłe. Jest to <strong>Präteritum</strong> i odpowiednio <strong>Perfekt</strong>. Kiedy chcemy opisać czynności, które wydarzyły się w przeszłości i nie mają związku z teraźniejszością używamy <strong>Präteritum</strong>. Czasu złożonego Perfect używamy zaś gdy mówimy o czynnościach, które wpłynęły na rzeczywistość.</p>
            <p>Aby zbudować&nbsp;<strong>niemiecki czas przeszły prosty </strong>należy:</p>
            <ul>
                <li>odmienić czasowniki według drugiej formy!</li>
            </ul>
            <p>Tak to wszystko!</p>

            <h2>Odmiana regularna według 2 formy</h2>
            <p>Po odcięciu -en, należy dodać do czasownika w każdej osobie -t oraz końcówkę standardowej teraźniejszej odmiany. Czasownik przybiera w trzeciej osobie liczby pojedynczej taką samą końcówkę, co w pierwszej. Dla przykładu</p>
            <p><strong>Ich kaufte</strong> – Ja kupiłem<br>
                Du kauftest – Ty kupiłeś<br>
                <strong>Er/Sie/Es kaufte</strong> – On kupił/Ona kupiła/ Ono kupiło<br>
                Wir kauften – My kupiliśmy<br>
                Ihr kauftet – Wy kupiliście<br>
                sie/Sie&nbsp; kauften – Oni kupili, One kupiły, Państwo kupili</p>
                
                <ul>
                    <li>jeśli czasownik kończy się na -d, -t, -m, -n dodajemy samogłoskę -e pomiędzy -t, a dalszą formą czasownika</li>
                </ul>

                <p>Tabelka dotycząca słówka kaufen:</p>
                <table class="t-table">
                    <tbody>
                    <tr>
                    <td>Liczba pojedyncza</td>
                    <td>Liczba mnoga</td>
                    </tr>
                    <tr>
                    <td>ich czasownik +te<br>du czasownik +test<br>er/sie/es czasownik +te<br></td>
                    <td>wir czasownik +ten<br>ihr czasownik +tet<br>sie/Sie czasownik +ten</td>
                    </tr>
                    </tbody>
                </table>

                <h2>Odmiana nieregularna przykłady</h2>
                <table class="t-table">
                    <tbody>
                    <tr>
                    <td>Infinitiv</td>
                    <td>Präteritum</td>
                    </tr>
                    <tr>
                    <td>beginnen (zaczynać)<br>bitten (prosić)<br>fallen (upadać)<br>finden (znajdować)<br>gehen (iść)<br>haben (mieć)<br>sein (być)</td>
                    <td>begann<br>bat<br>fiel<br>fand<br>ging<br>hatte<br>war</td>
                    </tr>
                    </tbody>
                </table>

                <h2>Przykłady</h2>
                <p>Die Mutter fragte das Kind. – Matka pytała dziecko.<br>
                    Ich arbeitete den ganzen Tag. – Pracowałem cały dzień.<br>
                    Am Wochenende lag ich im Krankenhaus. – W Weekend leżałam w szpitalu.<br>
                    Sie besuchten ihre Oma. – Oni odwiedzili ich babcię.<br>
                    Das Mädchen ging spazieren. – Dziewczynka poszła na spacer.<br>
                    Der Arzt untersuchte den Patienten. – Lekarz zbadał pacjenta.<br>
                    Ich schlief gestern sehr gut. – Spałam wczoraj bardzo dobrze.<br>
                    Ich war gestern vier Stunden in der Arbeit. – Byłam wczoraj w pracy 4 godziny.<br>
                    Ich räumte mein Zimmer auf. – Posprzątałam mój pokój.<br>
                    Der Unterricht begann um 9 Uhr. – Lekcja rozpoczęła się o 9.</p>

        </div>
    </div>
</form>
</body>
</html>

