<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/slownictwo">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
   
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">
            <li>Wybierz dział</li>
                <% for(var i=0;i< material.length; i++) { %>
                    <a class = "przycisks" href="/niemiecki/slownictwo/materialNiemiecki/slowkaNiemiecki?id=<%= material[i].id%>"><%= material[i].nazwa_materialu%></a>
                <% } %>
        </div>
    </div>
    <a></a>
</form>
</body>
</html>


