<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/slownictwo">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
   
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="tabela">
            Wybierz dział:
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/zwierzeta">Zwierzęta</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/dom">Dom</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/praca">Praca</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/zdrowie">Zdrowie</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/czlowiek">Człowiek</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/jedzenieizywienie">Jedzenie i żywienie</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/podrozeiwakacje">Podróże i wakacje</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/edukacjaiszkola">Edukacja i szkoła</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/rosliny">Rośliny</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/rodzina">Rodzina</a>
            <a class = "przycisks" href="/niemiecki/slownictwo/slownictwoniemiecki/sport">Sport</a>

            </table>
        </div>
    </div>
    <a></a>
</form>
</body>
</html>


