<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Strona Główna</title>
    
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>            
        </div>
        
        <div class="row">
            <div class="col">
                <h1>Ucz się szybko <br /> i zapamiętaj na zawsze.</h1>
                
                <a href="/Uzytkownik/rejestracja"><button type="button">Załóż darmowe konto</button></a>
            </div>
            <div class="col">
                <a href="/niemiecki/slownictwo/materialNiemiecki">
                <div class="card1">
                    <h5>Słownictwo</h5>
                    <p>Lista słówek</p>
                </div></a>
                <a href="/niemiecki/gramatyka/gramatykaniemiecki">
                <div class="card1">
                    <h5>Gramatyka</h5>
                    <p>Nauka gramatyki</p>
                </div></a>
            </div>
        </div>
    </div>

</body>
</html>