<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Słownictwo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
   
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="tabela">
            Wybierz dział:
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/zwierzeta">Zwierzęta</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/dom">Dom</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/praca">Praca</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/zdrowie">Zdrowie</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/czlowiek">Człowiek</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/jedzenieizywienie">Jedzenie i żywienie</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/podrozeiwakacje">Podróże i wakacje</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/czasownikifrazowe">Czasowniki frazowe</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/edukacjaiszkola">Edukacja i szkoła</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/rosliny">Rośliny</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/czasownikinieregularne">Czasowniki nieregularne</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/rodzina">Rodzina</a>
            <a class = "przycisks" href="/angielski/slownictwo/slownictwoangielski/sport">Sport</a>
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th class="col1" colspan="1">
                            <b>Po angielsku</b>
                            <span title="English" style="background-image: url('https://static.fiszkoteka.pl/imgmrg/P/g/o/HISi51swR0_MKo-Bv.png');background-position:-32px -0px;width:32px;height:22px;vertical-align: middle;overflow:hidden;display:inline-block;"></span>
                        </th>
                        <th class="col1" colspan="1">
                            <b>Po polsku</b>
                            <span title="język polski" style="background-image: url('https://static.fiszkoteka.pl/imgmrg/P/g/o/HISi51swR0_MKo-Bv.png');background-position:-0px -0px;width:32px;height:22px;vertical-align: middle;overflow:hidden;display:inline-block;"></span>
                        </th>
                    </tr>
                </thead>

               <tbody>
                    <% for(var i=0; i<slownictwo.length; i++) {%>
                    <tr>
                        <td class="col1">
                            <div class="text"><a> <%= slownictwo[i].tlumaczenie%> </a></div>
                        </td>

                        <td class="col1">
                            <div class="text"><a> <%= slownictwo[i].polski%> </a></div>
                        </td>
                    </tr>
                    <% } %>
                  
                

                </tbody>
            </table>
        </div>
    </div>
    <a></a>

</body>
</html>


