<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Future Continous</h1>

            <p>Za pomocą Future Continuous możemy wyrazić czynność, która będzie wykonywana w przyszłości i będzie trwała pewien czas. Ponieważ jest to czas typu Continuous to, jak można się spodziewać, potrzebne nam będą formy czasownika z końcówką -ing.</p><br>
            <p>Po podmiocie wstawiamy orzeczenie, które składa się z następujących elementów:</p>

            <div class="budowa">
                will be	+	czasownik z końcówką -ing
            </div>
            <p>Dobra wiadomość: will be się nie odmienia, występuje z podmiotem w każdej osobie liczby pojedynczej i mnogiej. Przykładowe zdania:</p>
            <p>Przykładowe zdania:</p>
            
            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/i-will-be-watching-tv-tomorrow-at-7.mp3" class="sm2_button"></a>I <span class="dist">will be watching</span> TV tomorrow at 7.</td>
                    <td class="pol">Jutro o siódmej będę oglądał telewizję.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/my-girlfriend-will-be-working-in-the-us.mp3" class="sm2_button"></a>My girlfriend <span class="dist">will be working</span> in the U.S. next summer.</td>
                    <td class="pol">Moja dziewczyna będzie pracować w Stanach podczas następego lata.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/we-will-be-going-to-the-supermarket-in-the-evening.mp3" class="sm2_button"></a>We <span class="dist">will be going</span> to the supermarket in the evening.</td>
                    <td class="pol">Wieczorem będziemy szli do supermarketu.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/this-time-next-week-ill-be-lying-on-the-beach.mp3" class="sm2_button"></a>This time next week <span class="dist">I'll be lying</span> on the beach.</td>
                    <td class="pol">Za tydzień o tej porze będę leżeć na plaży.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/they-will-be-repairing-the-roof-all-day.mp3" class="sm2_button"></a>They <span class="dist">will be repairing</span> the roof all day.</td>
                    <td class="pol">Będą naprawiali dach cały dzień.</td>
                    </tr>
                    </tbody>
                    </table>
            </div>

            
        </div>
    </div>
</form>
</body>
</html>

