<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>
            
            <h1>Future Perfect Continuous</h1>

            <p>Czas Future Perfect Continuous składa się z następujących elementów:<br>podmiot i <b>will have + been + czasownik z końcówką -ing:</b></p>
            <div class="budowa">
                <table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td class="ang">By the end of May I<span class="dist">'ll have been working</span> here for 5 years.</td>
                            <td class="pol">W maju minie 5 lat odkąd tutaj pracuję.</td>
                        </tr>
                        <tr>
                            <td class="ang">Before he comes <span class="dist">we will have been waiting</span> for him for one hour.*</td>
                            <td class="pol">Zanim przyjdzie to poczekamy na niego godzinę.</td>
                        </tr>
                        <tr>
                            <td class="ang">By this time next week they <span class="dist">will have been travelling</span> for 9 months.</td>
                            <td class="pol">O tej porze w przyszłym tygodniu minie 9 miesięcy odkąd zaczęli podróżować.</td>
                        </tr>
                        <tr>
                            <td class="ang">By the end of this month they will have been going out for almost a year!</td>
                            <td class="pol">Z końcem tego miesiąca będzie prawie rok, jak ze sobą chodzą!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>* Jeżeli kogoś dziwi użycie tutaj czasu Present Simple (he comes), to przypominamy, że po niektórych słowach (np.<br> before, when, as soon as, until) mówiąc o przyszłości nie używamy will, tylko pojawia się właśnie czas teraźniejszy.</p>
            <br><p>Zwróćmy uwagę, że elementy grupy orzeczenia są takie same dla każdej osoby liczby pojedynczej i mnogiej, czyli np.:</p>
            <div class="budowa">
                <table>
                <tbody>
                    <tr>
                        <td class="ang">By the end of the day I will have been trying to contact the shop for 8 hours!</td>
                    </tr>
                    <tr>
                        <td class="ang">By the end of the day she will have been trying to contact the shop for 8 hours!</td>
                    </tr>
                    <tr>
                        <td class="ang">By the end of the day they will have been trying to contact the shop for 8 hours!</td>
                    </tr>
                </tbody>
            </table></div>


            
        </div>
    </div>
</form>
</body>
</html>

