<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br><br><br>

            Czas Past Simple jest czasem przeszłym dokonanym. Opisuje wydarzenia, które dokonały się w określonym czasie w przeszłości. Krótko mówiąc – informujemy, kiedy coś się stało. Używamy przy tym konkretnych określeń czasu, np. wczoraj, dwa dni temu, trzy tygodnie temu, itp. Czas wykonania czynności może być podany wprost w zdaniu lub może wynikać z kontekstu, w jakim zdanie zostało użyte. Nie jest przy tym istotny czas trwania czynności, skupiamy się na tym, że dana czynność, lub kilka kolejnych czynności, została wykonana.

            Past Simple użyjemy także, mówiąc o naszych dawnych zwyczajach i nawykach, czyli stwierdzając fakty, które nie są już aktualne. Poniżej opiszemy i podamy przykłady użycia Past Simple w konkretnych sytuacjach.

            
        </div>
    </div>
</form>
</body>
</html>

