<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Past Simple</h1>
            <p>Czas Past Simple jest czasem przeszłym dokonanym. Opisuje wydarzenia, które dokonały się w określonym czasie w przeszłości. Krótko mówiąc – informujemy, kiedy coś się stało. Używamy przy tym konkretnych określeń czasu, np. wczoraj, dwa dni temu, trzy tygodnie temu, itp. Czas wykonania czynności może być podany wprost w zdaniu lub może wynikać z kontekstu, w jakim zdanie zostało użyte. Nie jest przy tym istotny czas trwania czynności, skupiamy się na tym, że dana czynność, lub kilka kolejnych czynności, została wykonana.</p>
            <br><p>Past Simple użyjemy także, mówiąc o naszych dawnych zwyczajach i nawykach, czyli stwierdzając fakty, które nie są już aktualne. Poniżej opiszemy i podamy przykłady użycia Past Simple w konkretnych sytuacjach.</p>

            <h2>budowa czasu Past Simple</h2>
            <p>Zdanie twierdzące w Past Simple składa się z następujących elementów:</p>
            <div class="budowa">
                <p>podmiot	+	II forma czasownika</p>
            </div>
            <p>Oto przykłady zdań w Past Simple:</p>

            <div class="budowa">
                <table cellpadding="4" cellspacing="1" class="ex">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/yesterday-i-worked-very-hard.mp3"></a>Yesterday I <span class="dist">worked</span> very hard.</td>
                            <td class="pol">Wczoraj pracowałem bardzo ciężko.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/she-was-very-tired-after-work.mp3"></a>She <span class="dist">was </span>very tired after work.</td>
                            <td class="pol">Była bardzo zmęczona po pracy.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/we-were-at-home-all-day-yesterday.mp3"></a>We <span class="dist">were</span> at home all day yesterday.</td>
                            <td class="pol">Wczoraj cały dzień byliśmy w domu.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-could-swim-when-i-was-5-years-old.mp3"></a>I<span class="dist"> could</span> swim when I <span class="dist">was</span> 5 years old.</td>
                            <td class="pol">Umiałem pływać jak miałem 5 lat.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/she-spoke-to-mary-two-days-ago.mp3"></a>She <span class="dist">spoke</span> to Mary two days ago.</td>
                            <td class="pol">Ona rozmawiała z Mary dwa dni temu.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/we-went-to-the-station-and-bought-the-tickets.mp3"></a>We <span class="dist">went</span> to the station and <span style="color: #800000;">bought</span> the tickets.</td>
                            <td class="pol">Poszliśmy na stację i kupiliśmy bilety.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-visited-spain-last-year.mp3"></a>I <span class="dist">visited</span> Spain last year.</td>
                            <td class="pol">Odwiedziłem Hiszpanię w zeszłym roku.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/they-were-very-happy-when-they-heard-the-news.mp3"></a>They <span class="dist">were</span> very happy when they <span class="dist">heard</span> the news.</td>
                            <td class="pol">Oni byli bardzo szczęśliwi, kiedy usłyszeli tę wiadomość.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-wanted-to-buy-this-book-but-it-cost-too-much.mp3"></a>I <span class="dist">wanted</span> to buy this book but it <span class="dist">cost</span> too much.</td>
                            <td class="pol">Chciałam kupić tę książkę, ale za dużo kosztowała.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/we-spent-our-holidays-there.mp3"></a>We <span class="dist">spent</span> our holidays there - we <span class="dist">had</span> a great time.</td>
                            <td class="pol">Spędziliśmy tam wakacje - wspaniale się bawiliśmy.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/they-tried-the-soup-but-it-was-too-hot-to-eat.mp3"></a>They <span class="dist">tried</span> the soup but it <span class="dist">was</span> too hot to eat.</td>
                            <td class="pol">Spróbowali zupy, ale była za gorąca do jedzenia.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>druga forma czasownika</h2>
            <p>Jak tworzymy drugą formę czasownika? Czasownikom regularnym dodajemy -ed lub -d, natomiast form czasowników nieregularnych należy nauczyć się na pamięć. Zobacz wzory odmian czasowników oraz formy czasowników nieregularnych.</p>
            <br><p>Dodając końcówkę czasu przeszłego do czasowników regularnych należy pamiętać o kilku zasadach pisowni:</p>
            <br><p>1. Jeżeli czasownik kończy się na literę -y po spółgłosce (np. -dy, -ry), przed dodaniem końcówki y zamieniamy na i.</p>

            <div class="budowa">
                <p>study	»	studied</p>
            </div>

            <p>2. Jeżeli czasownik składa się z jednej sylaby, a na końcu ma spółgłoskę +samogłoskę + spółgłoskę, podwajamy ostatnią spółgłoskę. *</p>
            <div class="budowa">
                <p>stop	» stopped</p>
            </div>

            <p>3. Jeżeli czasownik ma dwie sylaby i druga sylaba jest akcentowana, a na końcu jest spółgłoska + samogłoska + spółgłoska, podwajamy ostatnią spółgłoskę.</p>
            <div class="budowa">
                <p>prefer**	»	preferred</p>
            </div>
            <p>** Dla porównania: czasownik happen też ma dwie sylaby, a na końcu spółgłoskę + samogłoskę + spółgłoskę
                (p + e + n ), ale ponieważ akcentujemy w nim pierwszą sylabę, nie podwoimy ostatniej spółgłoski przed dodaniem końcówki czasu przeszłego. W tym przypadku dodajemy tylko -ed i otrzymujemy formę happened.</p>

                <h2>operator did</h2>
                <p>W czasie Past Simple, przy tworzeniu zdań przeczących i pytań pojawia się dodatkowe słówko, operator, czasownik posiłkowy – did (czyli druga forma czasownika do). Dobra wiadomość jest taka, że operator wygląda tak samo we wszystkich osobach i bez względu na to, czy czasownik jest regularny czy nie.</p>
                <div class="budowa">
                    <p>did</p>
                </div>
                <p>W przeczeniach did i not najczęściej łączymy:</p>
                <div class="budowa">
                    <p>did not	»	didn't</p>
                </div>

                <h2>zdania przeczące</h2>
                <p>Utworzenie zdania przeczącego najczęściej wymaga użycia operatora did w połączeniu z not.</p>
                <p>Przykłady przeczeń:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/he-didnt-take-her-to-the-restaurant-last-weekend.mp3"></a>He <span class="dist">didn't take</span> her to the restaurant last weekend.</td>
                                <td class="pol">On nie zabrał jej do restauracji w poprzedni weekend.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-didnt-go-to-the-cinema-yesterday.mp3"></a>We <span class="dist">didn't go</span> to the cinema yesterday.</td>
                                <td class="pol">Wczoraj nie poszliśmy do kina.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-didnt-write-the-letter.mp3"></a>I <span class="dist">didn't write</span> the letter.</td>
                                <td class="pol">Nie napisałem tego listu.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><b>Uwaga!</b> Wyjątkiem są czasowniki modalne oraz czasownik to be! Nie użyjemy w tych przypadkach operatora did.</p>

                <p>poprawne formy dla to be to wasn't i weren't:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="pol">1. i 3. osoba liczby pojedynczej</td>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/was-not.mp3"></a>was not</td>
                                <td class="ang">»</td>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/wasnt.mp3"></a>wasn't</td>
                            </tr>
                            <tr>
                                <td class="pol">pozostałe osoby</td>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/were-not.mp3"></a>were not</td>
                                <td class="ang">»</td>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/werent.mp3"></a>weren't</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-wasnt-in-france-last-summer.mp3"></a>I <span class="dist">wasn't</span> in France last summer.</td>
                                <td class="pol">Nie byłem we Francji zeszłego lata.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/they-werent-thirsty.mp3"></a>They <span class="dist">weren't</span> thirsty.</td>
                                <td class="pol">Nie chciało im się pić.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>Podobnie dla czasowników modalnych, nie wolno użyć:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><s>didn't can</s> <span class="dist">źle!</span><br>
                                <s>didn't must</s> <span class="dist">źle!</span><br>
                                <s>didn't should </s><span class="dist">źle!</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Czasowniki modalne to bardzo obszerne zagadnienie i trzeba poczytać o każdym z nich z osobna. Tutaj wspomnimy tylko, że np. czasownik can na przeszłą formę could i to ona jest podstawą do utworzenia przeczenia:</p>

                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang">I <span class="dist">couldn't</span> sleep last night.</td>
                                <td class="pol">Zeszłej nocy nie mogłem spać.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>zdania pytające</h2>
                <p>Aby w Past Simple utworzyć standardowe pytanie musimy użyć operatora did. Wstawiamy go przed podmiot zdania a czasownik... wraca do pierwszej formy!</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/did-you-see-that.mp3"></a><span class="dist">Did</span> you <span class="dist">see</span> that?</td>
                                <td class="pol">Widziałeś to?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/did-he-speak-to-molly-yesterday.mp3"></a><span class="dist">Did</span> he <span class="dist">speak</span> to Molly yesterday?</td>
                                <td class="pol">Czy on rozmawiał z Molly wczoraj?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/when-did-you-buy-this-car.mp3"></a>When <span class="dist">did</span> you <span class="dist">buy</span> this car?</td>
                                <td class="pol">Kiedy kupiliście ten samochód?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>Ale jest jedna uwaga – w pytaniach o podmiot nie używamy operatora i nie zmieniamy formy czasownika – czasownik zostaje w II formie. Pytanie takie ma taki szyk jak analogiczne pytanie w języku polskim. Zobaczmy:</p>
                <div class="budowa"><table cellpadding="4" cellspacing="1" class="ex">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/who-told-you-about-it.mp3"></a>Who <span class="dist">told</span> you about it?</td>
                            <td class="pol">Kto powiedział ci o tym?</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/what-happened.mp3"></a>What <span class="dist">happened</span>?</td>
                            <td class="pol">Co się stało?</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/how-many-people-came-to-the-party.mp3"></a>How many people <span class="dist">came</span> to the party?</td>
                            <td class="pol">Ile ludzi przyszło na imprezę?</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/who-tidied-my-room.mp3"></a>Who <span class="dist">tidied</span> my room?</td>
                            <td class="pol">Kto posprzątał mój pokój?<br>
                            (<em>pewnikiem krasnoludki </em>...)</td>
                        </tr>
                    </tbody>
                </table></div>

                <p>Jest jeszcze trzeci typ pytania. Czasownik to be (w czasie przeszłym was w 1 i 3 os. l.poj. i were dla pozostałych osób) rządzi się swoimi prawami i tworzy pytanie przez zmianę szyku, czyli występuje przed podmiotem. Pytanie w tym przypadku obywa się bez operatora.</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/was-she-hungry.mp3"></a><span class="dist">Was</span> she hungry?</td>
                                <td class="pol">Czy ona była głodna?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/were-you-at-school-yesterday.mp3"></a><span class="dist">Were</span> you at school yesterday?</td>
                                <td class="pol">Byłeś wczoraj w szkole?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/why-was-she-upset.mp3"></a>Why <span class="dist">was</span> she upset?</td>
                                <td class="pol">Dlaczego była zdenerwowana?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/where-were-these-documents.mp3"></a>Where <span class="dist">were</span> these documents?</td>
                                <td class="pol">Gdzie były te dokumenty?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            
        </div>
    </div>
</form>
</body>
</html>

