<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Present Perfect</h1>

            <p><strong>Present Perfect</strong> to jeden z najważniejszych czasów w języku angielskim i jego zrozumienie jest ważnym krokiem w nauce języka. Ponieważ w języku polskim nie mamy odpowiednika Present Perfect, czas ten może sprawić pewne trudności, zwłaszcza że w tłumaczeniach na język polski w niektórych sytuacjach używamy czasu przeszłego, a w innych teraźniejszego. Na szczeście wiemy, jak prosto i klarownie wytłumaczyć budowę i użycie Present Perfect.</p><br>
            <p>Najważniejszym aspektem Present Perfect jest to, że <strong>nie jest istotne, kiedy</strong> czynność została wykonana (lub nie) ale <strong>ważne są</strong> jej<strong> skutki</strong> w teraźniejszości. To podstawowa różnica miedzy Past Simple, w którym czas wykonania czynności jest istotny. Drugie podstawowe użycie to opis czynności, która <strong>zaczęła się w</strong> danym momencie w <strong>przeszłości</strong> i <strong>trwa do dziś</strong>.</p>
            
            <h2>budowa Present Perfect</h2>
            <p>Zdanie w Present Perfect wymaga bardziej złożonego orzeczenia (czasownika) niż np. w czasie Present Simple. We wszystkich czasach, które mają w nazwie perfect, w orzeczeniu musi znaleźć się tzw. operator. W Present Perfect jest nim have lub has.</p><br>
            <p>Zobaczmy wzór budowy zdania:</p>
            <div class="budowa">
                <p>podmiot	+	have/has	+	III forma czasownika</p>
            </div>
            <p>oraz przykładowe zdanie:</p>
            <div class="budowa">
                <p>I have bought a new car. - Kupiłem nowy samochód.</p>
            </div>
            <p>Pojawia się tu wspomniany operator, pomagający w utworzeniu zdania - have . W trzeciej osobie otrzymuje końcówkę -s i dostajemy has.</p>
            <br><p>Do operatora dodajemy czasownik w III formie. Czasowniki regularne otrzymują w takim wypadku końcówkę -ed, więc sprawa jest prosta. Niestety istnieje też duża grupa czasowników nieregularnych, których wszystkich form należy nauczyć się na pamięć. Oto nasze zestawienie czasowników nieregularnych.</p>
            <br><p>Więcej przykładów zdań twierdzących w Present Perfect:</p>

            <div class="budowa">
                <table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-have-found-his-telephone-number.mp3"></a>I <span class="dist">have found</span> his telephone number.</td>
                            <td class="pol">Znalazłem jego numer telefonu.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/she-has-closed-the-door.mp3"></a>She <span class="dist">has closed</span> the door.</td>
                            <td class="pol">Ona zamknęła drzwi.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/it-has-started-raining.mp3"></a>It <span class="dist">has started</span> raining.</td>
                            <td class="pol">Zaczęło padać.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/someone-has-taken-my-bag.mp3"></a>Someone <span class="dist">has taken</span> my bag.</td>
                            <td class="pol">Ktoś zabrał moją torebkę.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/they-have-changed-their-plans.mp3"></a>They <span class="dist">have changed</span> their plans.</td>
                            <td class="pol">Oni zmienili plany.</td>
                        </tr>
                        <tr>
                            <td class="ang">I <span class="dist">have</span> always <span class="dist">wanted</span> to be an actress.</td>
                            <td class="pol">Zawsze chciałam być aktorką.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>Podmiot z operatorem można łączyć:</p>
           <div class="budowa">
            <table cellpadding="4" cellspacing="1">
                <tbody>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/i-have.mp3"></a>I have</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/ive.mp3"></a>I've</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/you-have.mp3"></a>you have</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/youve.mp3"></a>you've</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/she-has.mp3"></a>she has</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/shes.mp3"></a>she's</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/he-has.mp3"></a>he has</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/hes.mp3"></a>he's</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/it-has.mp3"></a>it has</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/its.mp3"></a>it's</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/we-have.mp3"></a>we have</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/weve.mp3"></a>we've</td>
                    </tr>
                    <tr>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/they-have.mp3"></a>they have</td>
                        <td class="ang">»</td>
                        <td class="ang"><a class="sm2_button" href="/sound/grammar/theyve.mp3"></a>they've</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <p>W Present Perfect często pojawiają się charakterystyczne słówka:</p>
            <div class="budowa">
                <table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/for.mp3"></a>for</td>
                            <td class="pol">od</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/since.mp3"></a>since</td>
                            <td class="pol">od</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/already.mp3"></a>already</td>
                            <td class="pol">już</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/always.mp3"></a>always</td>
                            <td class="pol">zawsze</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/just.mp3"></a>just</td>
                            <td class="pol">właśnie</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/yet.mp3"></a>yet</td>
                            <td class="pol">już; jeszcze</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/ever.mp3"></a>ever</td>
                            <td class="pol">kiedykolwiek</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/never.mp3"></a>never</td>
                            <td class="pol">nigdy</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/lately.mp3"></a>lately</td>
                            <td class="pol">ostatnio</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/recently.mp3"></a>recently</td>
                            <td class="pol">ostatnio</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            
        </div>
    </div>
</form>
</body>
</html>

