<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">

            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/uzytkownik/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


 
            <br><br>

            <h1>Present Perfect Continuous</h1>

            <p>Teraz zajmiemy się trochę bardziej złożonym czasem, jakim jest Present Perfect Continuous. Jak można się domyślić po nazwie, będzie to mieszanka Present Perfect Simple i Present Continuous.</p><br>

            <div>
                <p>Present Perfect Continuous używamy w następujących sytuacjach:</p>
                
                <ul>
                    <li>opisywana czynność rozpoczęła się w przeszłości, trwała nieprzerwanie i trwa do chwili obecnej,</li>
                    <li>czynność rozpoczęła się w przeszłości i właśnie się skończyła ale jej skutki są wciąż odczuwalne.</li>
                </ul>
            </div>

            <h2>budowa czasu Present Perfect Continuous</h2>
            <div class="budowa">
                podmiot + have/has + been + czasownik z końcówką -ing
            </div>

            <p>Oto przykładowe zdania:</p>
            <div class="budowa">
                <table cellpadding="4" cellspacing="1" class="ex">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-have-been-working-for-five-hours.mp3"></a>I <span class="dist">have been working</span> for five hours.</td>
                            <td class="pol">Pracuję od pięciu godzin.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/john-has-been-studying-in-london-since-january.mp3"></a>John <span class="dist">has been studying</span> in London since January.</td>
                            <td class="pol">John studiuje w Londynie od stycznia.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>zdania twierdzące</h2>
            <p>Po podmiocie wstawiamy operator (has dla trzeciej osoby liczby pojedynczej, have dla pozostałych osób). Następnie dodajemy być - zawsze w trzeciej formie been, a na koniec czasownik właściwy z końcówką -ing. Zdanie gotowe!</p><br>
            <br><p>Nie jest to takie trudne - po podmiocie zawsze będzie have been lub has been - potem tylko czasownik+ing i zrobione.</p>
            <br><p>Oczywiście podobnie jak przy Present Perfect można skracać:</p>

            <div class="budowa">
                <table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/i-have.mp3"></a>I have</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/ive.mp3"></a>I've</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/you-have.mp3"></a>you have</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/youve.mp3"></a>you've</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/she-has.mp3"></a>she has</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/shes.mp3"></a>she's</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/he-has.mp3"></a>he has</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/hes.mp3"></a>he's</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/it-has.mp3"></a>it has</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/its.mp3"></a>it's</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/we-have.mp3"></a>we have</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/weve.mp3"></a>we've</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/they-have.mp3"></a>they have</td>
                            <td class="ang">»</td>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/theyve.mp3"></a>they've</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <p>Kilka przykładów:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/shes-been-reading-that-book-for-two-hours.mp3"></a>She<span class="dist">'s been reading</span> that book for two hours.</td>
                                <td class="pol">Ona czyta książkę od dwóch godzin.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/weve-been-waiting-for-you-since-10-oclock.mp3"></a>We<span class="dist">'ve been waiting</span> for you since 10 o'clock.</td>
                                <td class="pol">Czekamy na ciebie od dziesiątej. (<em>a ty dopiero teraz przychodzisz...</em>)</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/ive-been-learning-english-for-seven-years-now.mp3"></a>I<span class="dist">'ve been learning</span> English for seven years now.</td>
                                <td class="pol">Uczę się angielskiego już siedem lat.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/its-been-raining-for-5-hours.mp3"></a>It<span class="dist">'s been raining</span> for 5 hours!</td>
                                <td class="pol">Pada od 5 godzin!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>zdania przeczące</h2>
                <p>Przeczenie tworzymy łącząc operator have/has ze słówkiem not:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-havent-been-reading-the-book-for-an-hour.mp3"></a>I <span class="dist">haven't been reading</span> the book for an hour.</td>
                                <td class="pol">Nie czytam książki od godziny.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/she-hasnt-been-waiting-for-the-doctor-since-eight.mp3"></a>She <span class="dist">hasn't been waiting</span> for the doctor since eight.</td>
                                <td class="pol">Ona nie czeka na lekarza od ósmej.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><b>Uwaga:</b> Zdania, w których mówimy, od jak dawna czegoś nie robimy, budujemy często w czasie Present Perfect:                </p>

                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-havent-ed-tennis-since-university.mp3"></a>I <span class="dist">haven't ed </span>tennis since university.</td>
                                <td class="pol">Nie gram w tenisa od kiedy byłem na uniwersytecie.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/she-hasnt-cooked-for-me-for-two-months.mp3"></a>She <span class="dist">hasn't cooked</span> for me for two months.</td>
                                <td class="pol">Ona mi niczego nie ugotowała od dwóch miesięcy.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>tworzenie pytań</h2>
                <p>Pytanie tworzymy przez przesunięcie operatora have/has przed podmiot. Jeśli pytamy o szczegóły na początek dajemy jeszcze właściwe słówko pytające where, when, what, itp.</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1" class="ex">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/have-you-been-waiting-for-me.mp3"></a><span class="dist">Have</span> you <span class="dist">been waiting</span> for me?</td>
                                <td class="pol">Czekasz/Czekacie na mnie?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/how-long-have-you-been-waiting-for-me.mp3"></a>How long <span class="dist">have</span> you <span class="dist">been waiting</span> for me?</td>
                                <td class="pol">Jak długo na mnie czekasz/czekacie?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/since-when-has-she-been-learning-german.mp3"></a>Since when <span class="dist">has</span> she <span class="dist">been learning</span> German?</td>
                                <td class="pol">Od kiedy ona uczy się niemieckiego?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-can-smell-cigarettes.mp3"></a>I can smell cigarettes. <span class="dist">Have</span> you <span class="dist">been</span> <span class="dist">smoking</span>?</td>
                                <td class="pol">Czuję papierosy. Paliłeś/Paliliście?</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/what-have-you-been-doing-all-day.mp3"></a>What <span class="dist">have</span> you <span class="dist">been doing</span> all day?</td>
                                <td class="pol">Co robiłeś/robiliście przez cały dzień?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            
        </div>
    </div>
</form>
</body>
</html>

