<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Future Simple</h1>

            <p>Future Simple, czyli czas przyszły prosty, jest bardzo łatwy zarówno w tworzeniu jak i użyciu. Po podmiocie wstawiamy will (we wszystkich osobach), a po nim czasownik w pierwszej formie.</p>
            <div class="budowa">
                <p>podmiot	+	will	+	czasownik w I formie</p>
            </div>
            
            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/i-will-come-to-you-tomorrow.mp3" class="sm2_button"></a>I <span class="dist">will come</span> to you tomorrow.</td>
                    <td class="pol">Przyjdę do ciebie jutro.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/she-will-pass-the-exam.mp3" class="sm2_button"></a>She <span class="dist">will pass</span> the exam.</td>
                    <td class="pol">Ona zda egzamin.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/the-children-will-go-to-bed-early.mp3" class="sm2_button"></a>The children <span class="dist">will go</span> to bed early.</td>
                    <td class="pol">Dzieci pójdą spać wcześnie.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/we-will-take-care-of-it.mp3" class="sm2_button"></a>We <span class="dist">will take</span> care of it.</td>
                    <td class="pol">Zajmiemy się tym.</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
            <p>Osobę ze słówkiem will często "łączymy"</p>
            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/i-will.mp3" class="sm2_button"></a>I will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/ill.mp3" class="sm2_button"></a>I'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/you-will.mp3" class="sm2_button"></a>you will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/youll.mp3" class="sm2_button"></a>you'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/she-will.mp3" class="sm2_button"></a>she will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/shell.mp3" class="sm2_button"></a>she'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/he-will.mp3" class="sm2_button"></a>he will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/hell.mp3" class="sm2_button"></a>he'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/it-will.mp3" class="sm2_button"></a>it will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/itll.mp3" class="sm2_button"></a>it'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/we-will.mp3" class="sm2_button"></a>we will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/well.mp3" class="sm2_button"></a>we'll</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/they-will.mp3" class="sm2_button"></a>they will</td>
                    <td class="ang">»</td>
                    <td class="ang"><a href="/sound/grammar/theyll.mp3" class="sm2_button"></a>they'll</td>
                    </tr>
                    </tbody>
                    </table>
            </div>  



        </div>
    </div>
</form>
</body>
</html>

