<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br><br><br>
            Czas Future Perfect Continuous składa się z następujących elementów:

            podmiot i will have + been + czasownik z końcówką -ing:


            
        </div>
    </div>
</form>
</body>
</html>

