<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Past Perfect Continuous</h1>

            <p>Czasu Past Perfect Continuous używamy mówiąc o czynności ciągłej w przeszłości która zaczęła się zanim miała miejsce jakaś inna czynność przeszła.</p><br>
            
            <p>Zdanie twierdzące tworzymy wstawiając po podmiocie orzeczenie złożone z następujących elementów: <b>had + been (we wszystkich osobach tak samo) + czasownik z końcówką -ing.</b></p>

            <div class="budowa">
                <table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/it-had-been-raining-for-days-so-when.mp3"></a>It <span class="dist">had been raining</span> for days so when they finally left, the roads were very muddy.</td>
                            <td class="pol">Padało od wielu dni, więc kiedy w końcu wyruszyli, drogi były bardzo błotniste.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/the-mother-had-been-trying-to-find-him.mp3"></a>The mother <span class="dist">had been trying</span> to find him for hours before he finally came back home.</td>
                            <td class="pol">Matka szukała go godzinami, zanim w końcu wrócił do domu.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/we-were-tired-yesterday-in-the-evening-because.mp3"></a>We were tired yesterday in the evening because we <span class="dist">had been working out</span> a lot all day.</td>
                            <td class="pol">Wczoraj wieczorem byliśmy zmęczeni, ponieważ przez cały dzień dużo ćwiczyliśmy.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/they-had-been-going-out-for-two-years-before.mp3"></a>They <span class="dist">had been going</span> out for two years before Jack decided to propose to her.</td>
                            <td class="pol">Chodzili ze sobą dwa lata, zanim Jack zdecydował się jej oświadczyć.</td>
                        </tr>
                        <tr>
                            <td class="ang"><a class="sm2_button" href="/sound/grammar/the-police-finally-found-the-man.mp3"></a>The police finally found the man who <span class="dist">had been hiding</span> for months.</td>
                            <td class="pol">Policja w końcu znalazła mężczyznę, który ukrywał się od miesięcy.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</form>
</body>
</html>

