<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>
            
            <h1>Past Continuous</h1>

            <p>Past Continuous jest czasem bardzo podobnym do Present Continuous z tym, że wyraża czynność trwającą określony czas w przeszłości. Różnica tkwi w czasowniku być (to be) - zamiast formy teraźniejszej używamy formy czasu przeszłego. Past Continuous jest czasem niedokonanym.</p><br>
            <p>Odmiana czasownika to be w czasie przeszłym:</p>

           <div class="budowa">
            <table cellspacing="1" cellpadding="4">
                <tbody>
                <tr>
                <td>&nbsp;</td>
                <td class="head">liczba pojedyncza</td>
                <td>&nbsp;</td>
                <td class="head">liczba mnoga</td>
                </tr>
                <tr>
                <td class="small7g">1 osoba</td>
                <td class="ang"><a href="/sound/grammar/i-was.mp3" class="sm2_button"></a>I <strong>was</strong></td>
                <td>&nbsp;</td>
                <td class="ang"><a href="/sound/grammar/we-were.mp3" class="sm2_button"></a>we <strong>were</strong></td>
                </tr>
                <tr>
                <td class="small7g">2 osoba</td>
                <td class="ang"><a href="/sound/grammar/you-were.mp3" class="sm2_button"></a>you <strong>were</strong></td>
                <td>&nbsp;</td>
                <td class="ang"><a href="/sound/grammar/you-were.mp3" class="sm2_button"></a>you <strong>were</strong></td>
                </tr>
                <tr>
                <td class="small7g">3 osoba</td>
                <td class="ang"><a href="/sound/grammar/he-was.mp3" class="sm2_button"></a>he <strong>was</strong><br><a href="/sound/grammar/she-was.mp3" class="sm2_button"></a>she <strong>was</strong><br><a href="/sound/grammar/it-was.mp3" class="sm2_button"></a>it <strong>was</strong></td>
                <td>&nbsp;</td>
                <td class="ang"><a href="/sound/grammar/they-were.mp3" class="sm2_button"></a>they <strong>were</strong></td>
                </tr>
                </tbody>
                </table>
           </div>

           <p>Czas Past Continuous składa się z następujących elementów:</p>
           <div class="budowa">
            <table cellspacing="1" cellpadding="4">
                <tbody>
                <tr>
                <td class="ang">podmiot</td>
                <td>+</td>
                <td class="ang">was/were</td>
                <td>+</td>
                <td class="ang">czasownik z końcówką -ing</td>
                </tr>
                </tbody>
                </table>
           </div>

           <p>Oto przykładowe zdania:</p>
           <div class="budowa">
            <table cellspacing="1" cellpadding="4">
                <tbody>
                <tr>
                <td class="ang"><a href="/sound/grammar/tom-was-writing-the-letter-all-day-yesterday.mp3" class="sm2_button"></a>Tom <span class="dist">was writing</span> the letter all day yesterday.</td>
                <td class="pol">Tom pisał ten list przez cały wczorajszy dzień.</td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/yesterday-at-about-eight-we-were-listening-to-music.mp3" class="sm2_button"></a>Yesterday at about eight we <span class="dist">were listening</span> to music.</td>
                <td class="pol">Wczoraj około ósmej słuchaliśmy muzyki.</td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/what-were-you-doing-when-i-called-you.mp3" class="sm2_button"></a>What <span class="dist">were</span> you <span class="dist">doing</span> when I called you?</td>
                <td class="pol">Co robiłaś kiedy zadzwoniłem?<br></td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/he-wasnt-working-in-the-garden-then.mp3" class="sm2_button"></a>He <span class="dist">wasn't working</span> in the garden then.</td>
                <td class="pol">On nie pracował wtedy w ogrodzie.<br></td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/were-you-looking-for-a-new-job-when-that-advertisement-appeared.mp3" class="sm2_button"></a><span class="dist">Were </span>you <span class="dist">looking </span>for a new job when that advertisement appeared?</td>
                <td class="pol">Czy kiedy pojawiło się to ogłoszenie, szukałeś nowej pracy?</td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/i-saw-an-accident-when-i-was-driving-to-work-this-morning.mp3" class="sm2_button"></a>I saw an accident when I <span class="dist">was driving</span> to work this morning.</td>
                <td class="pol">Widziałem wypadek kiedy jechałem dziś rano do pracy.</td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/i-didnt-answer-the-phone-because-i-was-taking-a-shower.mp3" class="sm2_button"></a>I didn't answer the phone because I <span class="dist">was taking</span> a shower.</td>
                <td class="pol">Nie odebralem telefonu bo brałem prysznic.</td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/they-met-when-they-were-studying-in-berlin.mp3" class="sm2_button"></a>They met when they <span class="dist">were studying</span> in Berlin.</td>
                <td class="pol">Poznali się kiedy studiowali w Berlinie.<br></td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/i-couldnt-fall-asleep-because-my-neighbours.mp3" class="sm2_button"></a>I couldn't fall asleep because my neighbours <span class="dist">were having</span> a party.</td>
                <td class="pol">Nie mogłam zasnąć bo sąsiedzi urządzali imprezę. (<em>może korzystają z ang.pl i jutro już dadzą ludziom spać!)</em></td>
                </tr>
                <tr>
                <td class="ang"><a href="/sound/grammar/i-was-working-in-london-this-time-last-year.mp3" class="sm2_button"></a>I <span class="dist">was working</span> in London this time last year.</td>
                <td class="pol">O tej porze w zeszłym roku pracowałem w Londynie.</td>
                </tr>
                </tbody>
                </table>
           </div>

            
        </div>
    </div>
</form>
</body>
</html>

