<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>

            <h1>Past Perfect</h1>
            <p>Czas Past Perfect to czas przeszły dokonany, nazywa się go także czasem zaprzeszłym, gdyż opisuje czynność, która dokonała się zanim rozpoczęła się inna czynność przeszła.</p>
            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/i-realised-i-had-left-the-briefcase-at-home.mp3" class="sm2_button"></a>I realised I had left the briefcase at home.</td>
                    <td class="pol">Zdałem sobie sprawę, że zostawiłem aktówkę w domu<br><em>(czyli najpierw zostawiłem aktówkę w domu - potem zdałem sobie z tego sprawę)</em></td>
                    </tr>
                    </tbody>
                    </table>
            </div>

            <p>Tworzenie zdań w Past Perfect jest dość proste, mimo że jest to czas złożony. Elementy tego czasu są następujące:</p>
            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang">podmiot</td>
                    <td>+</td>
                    <td class="ang">had</td>
                    <td>+</td>
                    <td class="ang">czasownik w III formie *</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
            <p>* Do czasowników regularnych dodamy końcówkę - (e)d</p><br>
            <p>Oto kilka przykładów zdań w tym czasie:</p>

            <div class="budowa">
                <table cellspacing="1" cellpadding="4">
                    <tbody>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/we-hadnt-met-him-until-we-came-to-warsaw.mp3" class="sm2_button"></a>We <span class="dist">hadn't met</span> him until we came to Warsaw.</td>
                    <td class="pol">Nie znaliśmy go zanim nie przyjechaliśmy do Warszawy.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/by-the-time-we-reached-the-cinema.mp3" class="sm2_button"></a>By the time we reached the cinema, the film <span class="dist">had</span> already <span class="dist">started</span>.</td>
                    <td class="pol">Kiedy dotarliśmy do kina film się już zaczął.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/before-i-met-him-i-had-never-been.mp3" class="sm2_button"></a>Before I met him, I <span class="dist">had</span> never <span class="dist">been</span> in a serious relationship.</td>
                    <td class="pol">Zanim go spotkałam, nigdy nie byłam w poważnym związku.</td>
                    </tr>
                    <tr>
                    <td class="ang"><a href="/sound/grammar/i-was-shocked-when-i-found-out-that-derek-and-gina.mp3" class="sm2_button"></a>I was shocked when I found out that Derek and Gina <span class="dist">had got</span> divorced.</td>
                    <td class="pol">Byłam zszokowana, kiedy dowiedziałam się, że Derek i Gina rozwiedli się.</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
            
        </div>
    </div>
</form>
</body>
</html>