<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>
<br><br>

            <h1>Present Continuous</h1>
            <p>Present Continuous to jeden z pierwszych czasów, jakie poznajemy zaczynając naukę angielskiego. Czas ten najczęściej opisuje czynność, która jest w tej chwili wykonywana.</p>

            <h2>budowa czasu Present Continuous</h2>
Czas Present Continuous składa się z następujących elementów:
<div class="budowa"><p>podmiot	+	to be (am/is/are)	+	czasownik z końcówką -ing</p></div>   

<p>Odmiana to be jest prosta – podajemy ją niżej, opisujemy także jak utworzyć czasownik z końcówką -ing.<br>
    Rozpiszmy przykłady na poszczególne osoby:</p>
    <div class="budowa">
    <table cellpadding="4" cellspacing="1">
        <tbody>
            <tr>
                <td colspan="2" rowspan="1">liczba pojedyncza</td>
                <td> </td>
            </tr>
            <tr>
                <td>1 os.</td>
                <td class="ang"><p>I am</p></td>
                <td class="ang" colspan="1" rowspan="3">walking<br>
                doing<br>
                going<br>
                having<br>
                working<br>
                ...</td>
            </tr>
            <tr>
                <td>2 os.</td>
                <td class="ang">you are</td>
            </tr>
            <tr>
                <td>3 os.</td>
                <td class="ang">he is<br>
                </a>she is<br>
                </a>it is</td>
            </tr>
            <tr>
                <td colspan="2" rowspan="1">liczba mnoga</td>
                <td> </td>
            </tr>
            <tr>
                <td>1 os.</td>
                <td class="ang">we are</td>
                <td class="ang" colspan="1" rowspan="3">eating<br>
                writing<br>
                talking<br>
                jumping<br>
                waiting<br>
                ...</td>
            </tr>
            <tr>
                <td>2 os.</td>
                <td class="ang">you are</td>
            </tr>
            <tr>
                <td>3 os.</td>
                <td class="ang">they are</td>
            </tr>
        </tbody>
    </table>
</div>

        <p>Oto przykłady:</p>
        <div class="budowa">
        <table cellpadding="4" cellspacing="1">
            <tbody>
                <tr>
                    <td class="ang">Tom <span class="dist">is writing</span> a letter.</td>
                    <td class="pol">Tomek pisze list. <em>(w tej chwili)</em></td>
                </tr>
                <tr>
                    <td class="ang">We <span class="dist">are </span>waiting for a taxi.</td>
                    <td class="pol">Czekamy na taksówkę.</td>
                </tr>
                <tr>
                    <td class="ang">I <span class="dist">am </span>getting ready.</td>
                    <td class="pol">Przygotowuję się.</td>
                </tr>
            </tbody>
        </table>
         </div>

         <p>Najpierw mamy osobę, która wykonuje czynność <b>Tom</b>, następnie trzecią formę czasownika być <b>is</b>. 
            <br>Następnie dodajemy do czasownika głównego pisać <b>write</b> końcówkę <b>-ing</b> i dopełnienie - w tym wypadku słowo list <b>a letter</b>. 
            <br>Pierwsze zdanie w Present Continuous gotowe!</p><br>
            <p>Przypominamy jeszcze formy czasownika to be dla wszystkich osób:</p>
            <div class="budowa">
            <table cellpadding="4" cellspacing="1">
                <tbody>
                    <tr>
                        <td> </td>
                        <td>liczba pojedyncza</td>
                        <td> </td>
                        <td>liczba mnoga</td>
                    </tr>
                    <tr>
                        <td>1 osoba</td>
                        <td class="ang">I <strong>am</strong></td>
                        <td> </td>
                        <td class="ang">we <strong>are</strong></td>
                    </tr>
                    <tr>
                        <td>2 osoba</td>
                        <td class="ang">you <strong>are</strong></td>
                        <td> </td>
                        <td class="ang">you <strong>are</strong></td>
                    </tr>
                    <tr>
                        <td>3 osoba</td>
                        <td class="ang">he <strong>is</strong><br>
                        she <strong>is</strong><br>
                        it <strong>is</strong></td>
                        <td> </td>
                        <td class="ang">they <strong>are</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>forma -ing czasownika</h2>
        <p>Każdy czas continuous będzie wymagał użycia czasownika w formie gerund (-ing). Tworzenie właściwej formy<br> czasownika głównego jest bardzo proste, zasadą jest, że do podstawowej formy dodajemy końcówkę -ing, oto kilka <br>przykładów:</p>
       <div class="budowa">
        <table cellpadding="4" cellspacing="1">
            <tbody>
                <tr>
                    <td class="ang">write</td>
                    <td class="ang">»</td>
                    <td class="ang">writ<span class="dist">ing</span></td>
                    <td>pisać</td>
                </tr>
                <tr>
                    <td class="ang">read</td>
                    <td class="ang">»</td>
                    <td class="ang">read<span class="dist">ing</span></td>
                    <td>czytać</td>
                </tr>
                <tr>
                    <td class="ang">sit</td>
                    <td class="ang">»</td>
                    <td class="ang">sitt<span class="dist">ing</span></td>
                    <td>siedzieć</td>
                </tr>
                <tr>
                    <td class="ang">look</td>
                    <td class="ang">»</td>
                    <td class="ang">look<span class="dist">ing</span></td>
                    <td>patrzeć</td>
                </tr>
                <tr>
                    <td class="ang">do</td>
                    <td class="ang">»</td>
                    <td class="ang">do<span class="dist">ing</span></td>
                    <td>robić</td>
                </tr>
                <tr>
                    <td class="ang">take</td>
                    <td class="ang">»</td>
                    <td class="ang">tak<span class="dist">ing</span></td>
                    <td>zabierać</td>
                </tr>
                <tr>
                    <td class="ang">eat</td>
                    <td class="ang">»</td>
                    <td class="ang">eat<span class="dist">ing</span></td>
                    <td>jeść</td>
                </tr>
            </tbody>
        </table>
        </div>

<p>Zwróćmy uwagę, że niektóre czasowniki po dodaniu końcówki wyglądają nieco inaczej. Zapamiętajmy zasady pisowni <br>czasowników z końcówką -ing:</p>

<ul>
	<li>czasowniki zakończone na <span class="tbg">-e</span>, -e na końcu czasownika znika:
       <div class="budowa">
	<table cellpadding="4" cellspacing="1">
		<tbody>
			<tr>
				<td class="ang">-e</td>
				<td class="ang">»</td>
				<td class="ang">-ing</td>
			</tr>
			<tr>
				<td class="ang">mak<span class="dist">e</span></td>
				<td class="ang">»</td>
				<td class="ang"><mak<span class="dist">ing</span></td>
			</tr>
			<tr>
				<td class="ang">tak<span class="dist">e</span></td>
				<td class="ang">»</td>
				<td class="ang">tak<span class="dist">ing</span></td>
			</tr>
			<tr>
				<td class="ang">hav<span class="dist">e</span></td>
				<td class="ang">»</td>
				<td class="ang">hav<span class="dist">ing</span></td>
			</tr>
			<tr>
				<td class="ang">writ<span class="dist">e</span></td>
				<td class="ang">»</td>
				<td class="ang">writ<span class="dist">ing</span></td>
			</tr>
			<tr>
				<td class="ang">danc<span class="dist">e</span></td>
				<td class="ang">»</td>
				<td class="ang">danc<span class="dist">ing</span></td>
			</tr>
		</tbody>
	</table></div>
	</li>
	<li>w czasowniku jednosylabowym, gdzie na końcu jest spółgłoska + samogłoska + spółgłoska podwajamy ostatnią spółgłoskę *, podwajanie nie dotyczy spółgłosek <span class="dist">w</span> i <span class="dist">x</span>.
        <div class="budowa">
        <table cellpadding="4" cellspacing="1">
		<tbody>
			<tr>
				<td class="ang">swi<span class="dist">m</span></td>
				<td class="ang">»</td>
				<td class="ang">swi<span class="dist">mm</span>ing</td>
			</tr>
			<tr>
				<td class="ang">run</td>
				<td class="ang">»</td>
				<td class="ang">running</td>
			</tr>
			<tr>
				<td class="ang">sit</td>
				<td class="ang">»</td>
				<td class="ang">sitting</td>
			</tr>
			<tr>
				<td class="ang">stop</td>
				<td class="ang">»</td>
				<td class="ang">stopping</td>
			</tr>
			<tr>
				<td class="ang">get</td>
				<td class="ang">»</td>
				<td class="ang">getting</td>
			</tr>
		</tbody>
	</table></div>
	</li>
	<li>w czasownikach dwusylabowych, gdzie na końcu jest spółgłoska + samogłoska + spółgłoska, a akcent pada na drugą sylabę, podwajamy ostatnią spółgłoskę<br>
	<br>
	** Dla porównania: czasownik <span class="tbg">happen</span> też ma dwie sylaby, a na końcu spółgłoskę + samogłoskę + spółgłoskę (p + e + n ), ale ponieważ akcentujemy w nim pierwszą sylabę, nie podwoimy ostatniej spółgłoski przed dodaniem końcówki <span class="tbg">-ing</span>. W tym przypadku otrzymujemy formę <span class="tbg">happening</span>.
	<div class="budowa">
    <table cellpadding="4" cellspacing="1">
		<tbody>
			<tr>
				<td class="ang">refe<span class="dist">r</span></td>
				<td class="ang">»</td>
				<td class="ang">refe<span class="dist">rr</span>ing</td>
			</tr>
			<tr>
				<td class="ang">begin</td>
				<td class="ang">»</td>
				<td class="ang">beginning</td>
			</tr>
			<tr>
				<td class="ang">forget</td>
				<td class="ang">»</td>
				<td class="ang">forgetting</td>
			</tr>
		</tbody>
	</table></div>
	</li>
	<li>czasowniki kończące się na <span class="tbg">-ie</span> zmieniają pisownię z <span class="tbg">-ie</span> na <span class="tbg">-y</span>:
	<div class="budowa">
        <table cellpadding="4" cellspacing="1">
		<tbody>
			<tr>
				<td class="ang">die</td>
				<td class="ang">»</td>
				<td class="ang">dying</td>
			</tr>
			<tr>
				<td class="ang">lie</td>
				<td class="ang">»</td>
				<td class="ang">lying</td>
			</tr>
			<tr>
				<td class="ang">tie</td>
				<td class="ang">»</td>
				<td class="ang">tying</td>
			</tr>
		</tbody>
	</table></div>
	</li>
</ul>

    <p>Po takiej dawce wiedzy tworzenie zdań w Present Continuous nie powinno sprawiać nam żadnej trudności.<br>
        Oto więcej przykładów zdań w tym czasie:</p>
        <div class="budowa">
        <table cellpadding="4" cellspacing="1">
            <tbody>
                <tr>
                    <td class="ang">You <span class="dist">are</span> read<span class="dist">ing</span> a book.</td>
                    <td class="pol">Ty czytasz książkę.</td>
                </tr>
                <tr>
                    <td class="ang">Mary <span class="dist">is</span> hav<span class="dist">ing</span> breakfast.</td>
                    <td class="pol">Mary je śniadanie.</td>
                </tr>
                <tr>
                    <td class="ang">They <span class="dist">are</span> runn<span class="dist">ing</span>.</td>
                    <td class="pol">Oni biegną.</td>
                </tr>
                <tr>
                    <td class="ang">I <span class="dist">am</span> tak<span class="dist">ing</span> my bag.</td>
                    <td class="pol">Zabieram swoją torbę.</td>
                </tr>
                <tr>
                    <td class="ang">We <span class="dist">are</span> wait<span class="dist">ing</span> for my uncle.</td>
                    <td class="pol">Czekamy na mojego wujka.</td>
                </tr>
                <tr>
                    <td class="ang">He <span class="dist">is</span> look<span class="dist">ing</span> at the stars.</td>
                    <td class="pol">On patrzy w gwiazdy.</td>
                </tr>
                <tr>
                    <td class="ang">We <span class="dist">are</span> do<span class="dist">ing</span> our homework.</td>
                    <td class="pol">Robimy (odrabiamy) zadanie domowe.</td>
                </tr>
            </tbody>
        </table>
    </div>
        
     </div>        
    </div>
</form>
</body>
</html>

