<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br><br><br>

            Present Perfect to jeden z najważniejszych czasów w języku angielskim i jego zrozumienie jest ważnym krokiem w nauce języka. Ponieważ w języku polskim nie mamy odpowiednika Present Perfect, czas ten może sprawić pewne trudności, zwłaszcza że w tłumaczeniach na język polski w niektórych sytuacjach używamy czasu przeszłego, a w innych teraźniejszego. Na szczeście wiemy, jak prosto i klarownie wytłumaczyć budowę i użycie Present Perfect. Zaczynamy.

            Najważniejszym aspektem Present Perfect jest to, że nie jest istotne, kiedy czynność została wykonana (lub nie) ale ważne są jej skutki w teraźniejszości. To podstawowa różnica miedzy Past Simple, w którym czas wykonania czynności jest istotny. Drugie podstawowe użycie to opis czynności, która zaczęła się w danym momencie w przeszłości i trwa do dziś.
            
            Pełny opis, kiedy używać Present Perfect przedstawiamy w zakładce zastosowanie, a teraz zaczniemy od budowy zdania.

            
        </div>
    </div>
</form>
</body>
</html>

