<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="http://localhost:3000/"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    
                    <li class="przyciskP"><a href="/Uzytkownik/login">Zaloguj się</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/rejestracja">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div>

        <div class="gramatyka">

            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentcontinuous">Present Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentsimple">Present Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfect">Present Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/presentperfectcontinuous">Present Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futuresimple">Future Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futurecontinuous">Future Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfect">Future Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/futureperfectcontinuous">Future Perfect Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastsimple">Past Simple</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastcontinuous">Past Continuous</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfect">Past Perfect</a>
            <a class = "przycisks" href="/angielski/gramatyka/gramatykaangielski/pastperfectcontinuous">Past Perfect Continuous</a>


            <br><br>
            
            <h1>Present Simple</h1>
            
            <p>Czas Present Simple jest najczęściej używanym czasem teraźniejszym w języku angielskim. Stosujemy go w bardzo<br> wielu sytuacjach, o czym możecie przeczytać zakładce zastosowanie Present Simple. Można śmiało powiedzieć, że <br>jeśli jesteśmy wprawni w gestykulacji i znamy trochę słownictwa, Present Simple umożliwi nam komunikację, która <br>wychodzi daleko poza jego kontekst.</p>
            <h2>budowa Present Simple</h2>
            <p>Present Simple jest bardzo prosty w tworzeniu. Potrzeba tylko czasownika w podstawowej formie i osoby wykonującej <br>czynność. Czas Present Simple składa się z następujących elementów:</p>
            
            <div class="budowa">
                <p>podmiot	+	czasownik w formie podstawowej *</p>
            </div> 
            <p>Oto przykład:</p>
            <div class="budowa">
                <p>I go to the cinema once a week.	Chodzę do kina raz w tygodniu.</p>
            </div> 
            <h2>`s` w trzeciej osobie liczby pojedynczej</h2>
                <p>* Żeby jednak nie było tak łatwo, jest jedna mała rzecz, o której zawsze trzeba pamiętać w tym czasie:<br>
w trzeciej osobie liczby pojedynczej do czasownika musimy dodać końcówkę -s</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang">write<span class="dist">s</span></td>
                                <td class="pol">pisze</td>
                            </tr>
                            <tr>
                                <td class="ang">read<span class="dist">s</span></td>
                                <td class="pol">czyta</td>
                            </tr>
                            <tr>
                                <td class="ang">sit<span class="dist">s</span></td>
                                <td class="pol">siedzi</td>
                            </tr>
                            <tr>
                                <td class="ang">swim<span class="dist">s</span></td>
                                <td class="pol">pływa</td>
                            </tr>
                            <tr>
                                <td class="ang">make<span class="dist">s</span></td>
                                <td class="pol">robi</td>
                            </tr>
                            <tr>
                                <td class="ang">take<span class="dist">s</span></td>
                                <td class="pol">zabiera</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>Czasami jednak trzeba dodać -es zamiast -s</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang">do<span class="dist">es</span></td>
                                <td class="pol">robi</td>
                            </tr>
                            <tr>
                                <td class="ang">go<span class="dist">es</span></td>
                                <td class="pol">chodzi</td>
                            </tr>
                            <tr>
                                <td class="ang">watch<span class="dist">es</span></td>
                                <td class="pol">ogląda</td>
                            </tr>
                            <tr>
                                <td class="ang">wash<span class="dist">es</span></td>
                                <td class="pol">myje</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>W dwóch ostatnich przykładach byłoby trudno wymówić czasownik, który kończy się na 'syczącą" spółgłoskę,<br> gdybyśmy dodali do niego tylko -s. Końcówka -es ułatwia wymowę.</p><br>
                <p>Jeśli czasownik kończy się na literkę -y, a przed nią jest spółgłoska, to w trzeciej osobie zamiast -y wstawiamy -ies</p>
                <div class="budowa">
                    <a class="ang">study » stud<span class="dist">ies </span>studiuje</a>
                </div>
                <p>I na koniec bardzo ważny wyjątek:</p>
                <div class="budowa">
                    <a class="ang">I have » he/she/it <span class="dist">has </span>mieć, ma</a>
                </div>

                <h2>określanie częstotliwości</h2>
                <p>W Present Simple bardzo często używamy słówek określających częstotliwość wykonywania czynności:</p>
                
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/always.mp3"></a>always</td>
                                <td class="pol">zawsze</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/never.mp3"></a>never</td>
                                <td class="pol">nigdy</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/often.mp3"></a>often</td>
                                <td class="pol">często</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/rarely.mp3"></a>rarely</td>
                                <td class="pol">rzadko</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/seldom.mp3"></a>seldom</td>
                                <td class="pol">rzadko</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/usually.mp3"></a>usually</td>
                                <td class="pol">zwykle</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/every-day.mp3"></a>every day</td>
                                <td class="pol">codziennie</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/every-week.mp3"></a>every week</td>
                                <td class="pol">co tydzień</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/every-month.mp3"></a>every month</td>
                                <td class="pol">co miesiąc</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/twice-a-month.mp3"></a>twice a month</td>
                                <td class="pol">dwa razy w miesiącu</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/seven-times-a-year.mp3"></a>seven times a year</td>
                                <td class="pol">siedem razy w roku</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/three-times-a-day.mp3"></a>three times a day</td>
                                <td class="pol">trzy razy dziennie</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/sometimes.mp3"></a>sometimes</td>
                                <td class="pol">czasami</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/on-mondays-tuesdays.mp3"></a>on Mondays/Tuesdays...</td>
                                <td class="pol">w poniedziałki/wtorki...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Kilka przykładowych zdań:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/he-drinks-milk-twice-a-day.mp3"></a>He <span class="dist">drink<strong>s</strong></span> milk twice a day.</td>
                                <td class="pol">On pije mleko dwa razy dziennie.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-go-to-work-six-times-a-week.mp3"></a>We <span class="dist">go</span> to work six times a week.</td>
                                <td class="pol">Chodzimy do pracy przez sześć dni w tygodniu.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-never-smoke-but-alice-smokes-from-time-to-time.mp3"></a>I never <span class="dist">smoke</span>, but Alice <span class="dist">smoke<strong>s</strong></span> from time to time.</td>
                                <td class="pol">Ja nigdy nie palę, ale Alicja pali od czasu do czasu.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/she-likes-him-very-much.mp3"></a>She <span class="dist">like<strong>s</strong></span> him very much.</td>
                                <td class="pol">Ona go bardzo lubi.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/i-always-feel-great-in-spring.mp3"></a>I always <span class="dist">feel</span> great in spring.</td>
                                <td class="pol">Zawsze na wiosnę czuję się świetnie.</td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/they-always-go-swimming-at-week.mp3"></a>They always <span class="dist">go</span> swimming at weekends.*</td>
                                <td class="pol">Oni zawsze chodzą popływać w weekendy.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p><strong>* Uwaga:</strong></p>
                <p>W tym miejscu pora zdementować pogłoski, że zdanie They always go swimming at weekends nie jest wyrażone w czasie Present Simple, bo pojawiła się w nim forma czasownika z końcówką -ing, która jest charakterystyczna dla Present Continuous. Niech ta końcówka nikogo nie zwiedzie! They always go swimming at weekends to jak najbardziej Present Simple. Świadczy o tym forma głównego czasownika (czyli tego, który jest najbliżej podmiotu): go. Forma swimming pojawiła się tutaj tylko jako element wyrażenia. Mówimy go swimming, go jogging, go skiing, itp. Czasownikiem głównym, czyli tym, którego użyjemy w różnych czasach, jest go, natomiast forma swimming jest niezmienna. A więc np.:</p>

                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-are-going-swimming.mp3"></a>We <span class="dist">are going</span> swimming.</td>
                                <td class="pol">Idziemy popływać. <strong>PRESENT CONTINUOUS</strong></td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-go-swimming.mp3"></a>We <span class="dist">go</span> swimming.</td>
                                <td class="pol">Chodzimy popływać. <strong>PRESENT SIMPLE</strong></td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-went-swimming-yesterday.mp3"></a>We <span class="dist">went </span>swimming yesterday.</td>
                                <td class="pol">Poszliśmy popływać wczoraj. <strong>PAST SIMPLE</strong></td>
                            </tr>
                            <tr>
                                <td class="ang"><a class="sm2_button" href="/sound/grammar/we-will-go-swimming.mp3"></a>We <span class="dist">will go</span> swimming.</td>
                                <td class="pol">Pójdziemy popływać. <strong>FUTURE SIMPLE</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>to be jako czasownik główny</h2>
                <p>W Present Simple głównym czasownikiem może też być to be.<br>
                    Oto formy czasownika to be w czasie teraźniejszym dla wszystkich osób:</p>

                <div class="budowa"><table cellpadding="4" cellspacing="1">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>liczba pojedyncza</td>
                            <td></td>
                            <td>liczba mnoga</td>
                        </tr>
                        <tr>
                            <td>1 osoba</td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/i-am.mp3"></a>I <strong>am</strong></td>
                            <td></td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/we-are.mp3"></a>we <strong>are</strong></td>
                        </tr>
                        <tr>
                            <td>2 osoba</td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/you-are.mp3"></a>you <strong>are</strong></td>
                            <td></td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/you-are-2.mp3"></a>you <strong>are</strong></td>
                        </tr>
                        <tr>
                            <td>3 osoba</td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/he-is.mp3"></a>he <strong>is</strong><br>
                            <a class="sm2_button" href="https://www.ang.pl/sound/grammar/she-is.mp3"></a>she <strong>is</strong><br>
                            <a class="sm2_button" href="https://www.ang.pl/sound/grammar/it-is.mp3"></a>it <strong>is</strong></td>
                            <td></td>
                            <td class="ang"><a class="sm2_button" href="https://www.ang.pl/sound/grammar/they-are.mp3"></a>they <strong>are</strong></td>
                        </tr>
                    </tbody>
                </table></div>

                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td class="ang"><span class="dist">I am</span> always tired after work.</td>
                                <td class="pol">Zawsze jestem po pracy zmęczony.</td>
                            </tr>
                            <tr>
                                <td class="ang"><span class="dist">Your deliveries are</span> never on time!</td>
                                <td class="pol">Wasze dostawy nigdy nie są na czas!</td>
                            </tr>
                            <tr>
                                <td class="ang"><span class="dist">My dog is</span> sometimes very naughty.</td>
                                <td class="pol">Mój pies jest czasem bardzo niegrzeczny.</td>
                            </tr>
                            <tr>
                                <td class="ang"><span class="dist">We're</span> usually at home in the evening.</td>
                                <td class="pol">Zwykle jesteśmy wieczorem w domu.</td>
                            </tr>
                            <tr>
                                <td class="ang"><span class="dist">I'm</span> busy on Mondays.</td>
                                <td class="pol">W poniedziałki jestem zajęta.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Zastanawiacie się, skąd w naszych przykładach formy I'm czy we're? Pojawiły się dlatego, że w języku potocznym zaimki są w pisowni i mowie łączone z czasownikiem to be, co daje następujące wersje skrócone:</p>
                <div class="budowa">
                    <table cellpadding="4" cellspacing="1">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>liczba pojedyncza</td>
                                <td></td>
                                <td>liczba mnoga</td>
                            </tr>
                            <tr>
                                <td>1 osoba</td>
                                <td class="ang"><span class="dist">I'm</span></td>
                                <td></td>
                                <td class="ang"><span class="dist">we're</span></td>
                            </tr>
                            <tr>
                                <td>2 osoba</td>
                                <td class="ang"><span class="dist">you're</span></td>
                                <td></td>
                                <td class="ang"><span class="dist">you're</span></td>
                            </tr>
                            <tr>
                                <td>3 osoba</td>
                                <td class="ang"><strong><span class="dist">he's</span></strong><br>
                                <span class="dist">she's</span><br>
                                <span class="dist">it's</span></td>
                                <td></td>
                                <td class="ang"><span class="dist">they're</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
</form>
</body>
</html>

