<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br><br><br>
            Czas zaprzeszły używamy w sytuacji, gdy mówimy o dwóch czynnościach z których jedna odbyła się wcześniej niż druga. Pierwsza czynność późniejsza jest podawana w czasie Präteritum, zaś druga, która odbyła się wcześniej w czasie Plusquamperfekt.


            
        </div>
    </div>
</form>
</body>
</html>

