<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
 
            <br><br>

            <h1>Czas zaprzeszły Plusquamperfekt</h1>
            <h2>Konstrukcja</h2>
            <p><strong>Haben, lub sein + … + Partizip II</strong></p>
            <p>Czasowniki posiłkowe haben i sein są odmienione w czasie <strong>Präteritum (Imperfekt)</strong>.</p>
            <h2>Tabelka z odmianą</h2>

            <table class="t-table">
                <tbody>
                <tr>
                <td>haben (mieć)</td>
                <td>sein (być)</td>
                </tr>
                <tr>
                <td>ich hatte<br>du hattest<br>er/sie/es hatte<br>wir hatten<br>ihr hattet<br>sie/Sie hatten</td>
                <td>ich war<br>du warst<br>er/sie/es war<br>wir waren<br>ihr wart<br>sie/Sie waren</td>
                </tr>
                </tbody>
            </table>

            <h2>Kilka przykładów</h2>
            <ul>
                <li>Ich <strong>hatte</strong> bis 18 Uhr <strong>gearbeitet</strong> – Pracowałem aż do 18.</li>
                <li>Sie <strong>hatte</strong> sehr lange <strong>geübt</strong> – Ona ćwiczyła przez dłuższy czas.</li>
            </ul>
            <p>Zdanie, które możemy faktycznie powiedzieć:</p>
            <ul>
                <li>Nachdem ich gestern fast nicht <strong>gechlafen hatte</strong>, war heute Morgen müde. – Po tym jak wczoraj prawie nie spałem, dziś byłem zmęczony.</li>
            </ul>

            <h2>Zastosowanie</h2>
            <p>Czas Plusquamperfekt jest ostatnim i jednym z najrzadziej używanych czasów w języku niemieckim. Mimo to warto go poznać, dzięki tej konstrukcji gramatycznej w prosty sposób zyskamy dodatkowy plus na rozmowie kwalifikacyjnej w Niemczech. Dodatkowo,</p>
            <ul>
                <li>czas zaprzeszły jest używany w zdaniach okolicznikowych czasu ze spójnikiem nachdem;</li>
                <li>gdy chcemy zasygnalizować fakt nierówności pomiędzy wydarzeniami.</li>
            </ul>
            <p><strong>Partizip II</strong></p>
            <p>Formę Partizip II tworzymy poprzez dodanie do czasownika przedrostka -ge i końcówki -t.</p>

            <h2>Kiedy sein, a kiedy haben?</h2>
            <p>Haben używamy do czegoś co określa stan, a sein do aktywności określających ruch.</p>
            <p>Dodatkowo</p>
            <p>Haben gdy czasownik:</p>
            <ul>
                <li>wymaga dopełnienia w bierniku;</li>
                <li>jest zwrotny, lub modalny</li>
            </ul>
            <p>Sein używamy gdy czasownik</p>
            <ul>
                <li>nie wymaga dopełnienia w bierniku;</li>
                <li>zawsze przy werden, bleiben.</li>
            </ul>
            <h2>Przykłady</h2>
            Ich hatte ihn nicht gesehen. – Nie widziałam go.<br>
            Vorgestern hatte sie sich verspätet. – Przedwczoraj się spóźniła.<br>
            Die Sonne war schon untergegangen. – Słońce już zaszło.<br>
            Sie hatte sich verspätet. – Ona spóźniła się.<br>
            Wir waren nie in Deutschland gewesen. – Nigdy nie byliśmy w Niemczech.<br>
            Sie hatte mich nicht gesehen. – Ona mnie nie widziała.<br>
            Ich konnte im Juni nicht nach Griechenland fahren. – Nie mogłam wyjechać do Grecji w czerwcu.<br>
            Waren die Kinder heute ruhig gewesen? – Czy dzieci były dzisiaj spokojne?<br>
            Als der Wecker geklingelt hatte, wachte ich auf. – Gdy budzik zadzwonił, obudziłem się.<br>
            Früher hatte er nie ein Buch gelesen. – Wcześniej nigdy nie przeczytał żadnej książki.<br>

            
        </div>
    </div>
</form>
</body>
</html>

