<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Gramatyka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<form action="/Uzytkownik/gramatyka">
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>

        <div class="gramatyka">

            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyprosty">Czas przeszły prosty</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzeszlyperfekt">Czas przeszły Perfekt</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czaszaprzeszlyplusquamperfekt">Czas zaprzeszły Plusquamperfekt</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturi">Czas przyszły Futur I</a>
            <a class = "przycisks"href="/uzytkownik/niemiecki/gramatyka/gramatykaniemiecki/czasprzyszlyfuturii">Czas przyszły Futur II</a>
            
            <br><br>

            <h1>Czas przyszły Futur I</h1>
            <p>Czasu Futur I używamy w celu opisania naszych zamiarów, czyli inaczej niedokonanej czynności w przyszłości.</p>
            <h2>Konstrukcja</h2>
            <p>Tworzymy go poprzez dodanie odmienionego czasownika werden i czasownika w bezokoliczniku na końcu zdania.</p>
            <p>podmiot + werden + reszta zdania + bezokolicznik</p>
            <ul>
                <li>Aga <strong>wird</strong> morgen ihre Großeltern <strong>besuchen</strong>. – Aga <strong>odwiedzi</strong> jutro swoich dziadków.</li>
                <li>Ich <strong>werde</strong> am Montag Fahrrad <strong>fahren</strong>. – W poniedziałek będę <strong>jeździł</strong> rowerem.</li>
            </ul>

            <h2>Pytania w czasie Futur I</h2>
            <p>W zdaniu pytającym bez pytajnika odmieniona forma werden przechodzi na pierwszą pozycję. Czasownik w formie bezokolicznika nie zmienia miejsca!</p>
            <ul>
                <li><strong>Wirst</strong> du alleine nach Berlin <strong>fahren</strong>? – <strong>Pojedziesz</strong> do Berlina sam?</li>
                <li><strong>Wird</strong> es <strong>regnen</strong>? – Będzie <strong>padać</strong>?</li>
            </ul>
            <p>W zdaniu pytającym z was/wer itd., werden przechodzi za pytajnik (2 pozycja).</p>
            <ul>
                <li>Wo <strong>wirst</strong> du <strong>studieren</strong>? – Gdzie będziesz <strong>studiować</strong>?</li>
                <li>Was <strong>wird</strong> er dazu <strong>sagen</strong>? – Co on na to <strong>powie</strong>?</li>
            </ul>

            <h2>Odmiana werden</h2>

            <table class="t-table">
                <tbody>
                <tr>
                <td>Liczba pojedyncza (Singular):</td>
                <td>Liczba mnoga (Plural):</td>
                </tr>
                <tr>
                <td>ich werde<br>du wirst<br>er wird<br>sie wird<br>es wird</td>
                <td>wir werden<br>ihr werdet<br>sie werden<br>Sie werden</td>
                </tr>
                </tbody>
            </table>
            <h2>Przykłady</h2>
            <ul>
                <li>Ich werde in die Türkei fahren. – Pojadę do Turcji.</li>
                <li>Ich werde morgen zu dir kommen. – Przyjdę do ciebie jutro.</li>
                <li>Mein Onkel wird ein neues Auto kaufen. – Mój wujek kupi nowe auto.</li>
                <li>Wir werden am Wochenende ins Kino gehen. – Pójdziemy w weekend do kina.</li>
                <li>Du wirst am Abend in die Disko gehen. – Pójdziesz wieczorem na dyskotekę.</li>
                <li>Meine Eltern werden mir 100 Euro Taschengeld geben. – Moi rodzice będą mi dawać 100 euro kieszonkowego.</li>
                <li>In diesem Jahr werde ich meinen Urlaub in Polen verbringen. – W tym roku spędzę urlop w Polsce.</li>
            </ul>
            
        </div>
    </div>
</form>
</body>
</html>

